<div class="productCarousel-slide">
    <article  class="card custom-card
    {{#if alternate}} card--alternate{{/if}} 
    {{#or product.price.sale_price_with_tax.value product.price.sale_price_without_tax.value}} card--salePrice{{/or}}
    card-text"
     data-product-id="{{product.id}}">
        <div class="card-figure">
            {{#if theme_settings.show_label_product}}
                {{#or product.price.sale_price_with_tax.value product.price.sale_price_without_tax.value}}
                    {{#if theme_settings.pdp_sale_badge_label '===' ''}}
                        {{> components/products/product-badge
                            badge-type='sale'
                            badge_view=theme_settings.product_sale_badges
                            badge_label=(lang "page_builder.pdp_sale_badge_label")
                        }}
                    {{else}}
                        {{> components/products/product-badge
                            badge-type='sale'
                            badge_view=theme_settings.product_sale_badges
                            badge_label=theme_settings.pdp_sale_badge_label
                        }}
                    {{/if}}
                {{/or}}
            {{/if}}

            <a href="{{product.url}}" class="card-figure__link card-link" aria-label="{{name}},{{> components/products/product-aria-label}}"
                data-event-type="product-click">
                <div class="card-img-container{{#if images.length '<' 1}} card-img-container2{{/if}}">
                    <img class="card-image lazyload card-image-loading" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage product.main_image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{product.title}}" title="{{product.title}}">
                    {{#if images.length '>=' 2}}
                        {{#each product.images}}
                            {{#if @index '==' 1}}
                                <span class="product-additional" data-product-id="">
                                    <img class="card-image-2 img-responsive lazyload" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage this 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{this.alt}}" title="{{this.alt}}">
                                </span>
                            {{/if}}
                        {{/each}}
                    {{/if}}
                </div>
            </a>

        </div>
        <div class="card-body">
            {{#and (if product.brand.name) (if theme_settings.show_card_brand_name)}}
                <p class="card-brand card-brand-{{product.id}} card-text" data-test-info-type="brandName"></p>
            {{/and}}

            <h3 class="card-title">
                <a aria-label="{{> components/products/product-info}}"
                   href="{{product.url}}"
                   data-event-type="product-click"
                >
                    <span>{{product.title}}</span>
                </a>
            </h3>

            <div class="card-text" data-test-info-type="price">
                {{#or customer (unless settings.hide_price_from_guests)}}
                    {{> components/products/price price=product.price}}
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
            </div>

            <p class="card-text" data-test-info-type="productRating">
                <span class="rating--small">
                    {{> components/products/ratings rating_target=name rating=rating}}
                </span>
            </p>
        </div>
    </article>
</div>