<article class="blog csmBlog__item">
    <div class="blog-post-figure">
        {{#if post.thumbnail}}
            <figure class="blog-thumbnail">
                <a href="{{post.url}}">
                    {{> components/common/responsive-img
                        image=post.thumbnail
                        fallback_size=theme_settings.blog_size
                        lazyload=theme_settings.lazyload_mode
                    }}
                </a>
            </figure>
        {{/if}}
    </div>

    <div class="blog-post-body">
        <header class="blog-header">
            <h{{#if is_blog_post}}1{{else}}2{{/if}} class="blog-title csmBlog__title">
                <a href="{{post.url}}">{{post.title}}</a>
            </h{{#if is_blog_post}}1{{else}}2{{/if}}>
        </header>

        <p class="blog-post csmBlog__summary">
            {{{post.summary}}}
        </p>
    </div>
</article>
