<article class="blog csmBlog__item csmBlogPost__item">
    <div class="blog-post-figure">
        {{#if post.thumbnail}}
            <figure class="blog-thumbnail">
                <a href="{{post.url}}">
                    {{> components/common/responsive-img
                        image=post.thumbnail
                        fallback_size=theme_settings.blog_size
                        lazyload=theme_settings.lazyload_mode
                    }}
                </a>

                <div class="image-overlay" style="--bg: #000000; --overlay-opacity: 0.15;"></div>
            </figure>
        {{/if}}
    </div>

    <div class="wrapper csmBlogPost__wrapper">
        <div class="csmBlogPost__grid">
            <div class="blog-post-body">
                <header class="blog-header">
                    <h{{#if is_blog_post}}1{{else}}2{{/if}} class="blog-title">
                    {{post.title}}
                    </h{{#if is_blog_post}}1{{else}}2{{/if}}>
                </header>
                <hr>
                <div class="csmBlogPost__meta flex flex-between flex-center-x">
                    <p class="meta__date">{{post.date_published}}</p>

                    <button type="button" class="meta__share" data-share-button="" data-share-url="{{url}}">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-share" viewBox="0 0 24 24">
                            <path d="M18 22a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-14a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM6 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" stroke="#000" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="m15.5 6.5-7 4m0 3 7 4" stroke="#000"></path>
                        </svg>
                        <span class="hover-link">
                            <span>Share</span>
                        </span>
                    </button>
                </div>
                <hr>
                <div class="blog-post csmBlogPost__content">
                    {{#if post.body}}
                        {{{post.body}}}
                    {{/if}}
                </div>
                {{#and show_tags (if theme_settings.show_blogPostTag)}}
                    {{#if post.tags}}
                        <ul class="tags">
                            {{#each post.tags}}
                            <li class="tag">
                                <a href="{{url}}">#{{name}}</a>
                            </li>
                            {{/each}}
                        </ul>
                    {{/if}}
                {{/and}}
            </div>

            <div class="csmBlogPost__recentlyPost">
                <h3>Recent articles</h3>

                <div class="recentPosts__sidebar"></div>
            </div>
        </div>
    </div>
</article>
