<div class="previewCart-header">
    <h2 class="title">{{lang 'cart.preview.title'}}</h2>
</div>

{{#if theme_settings.enaCalculateShipping}}
<div class="freeShipping__message free-shipping" data-free-shipping="true" data-free-shipping-limit="100" data-animation="cart-items-fade" data-animation-duration="500" data-animation-delay="300">
    <div class="freeShippingMessage__wrapper">

    </div>
    <progress class="freeShipping__progress" data-progress-bar="" value="0" max="100"></progress>
</div>
{{/if}}

<div class="previewCartWrapper{{#gt cart.items.length 0}} previewCartWrapper--hasProducts{{else}} previewCartWrapper--empty{{/gt}}">
    <div class="previewCart">
    {{#if cart.items.length}}
        <ul class="previewCartList" data-cart-quantity="{{cart.quantity}}">
            {{#each cart.items}}
                <li class="previewCartItem" {{#if options}}data-cart-edit-productItem{{/if}}>
                    <div class="previewCartItem-image">
                        {{#if type '==' 'GiftCertificate'}}
                            <img
                                alt="GiftCertificate"
                                title="GiftCertificate"
                                src="{{cdn ../theme_settings.default_image_gift_certificate}}"
                            >
                        {{else}}
                            {{> components/common/responsive-img
                                image=image
                                fallback_size=../theme_settings.productthumb_size
                                lazyload=../theme_settings.lazyload_mode
                                default_image=../theme_settings.default_image_product
                            }}
                        {{/if}}
                    </div>
                        <div class="previewCartItem-content">
                            <span class="previewCartItem-brand">
                                {{brand.name}}
                            </span>

                            <h6 class="previewCartItem-name">
                                <a href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                            </h6>

                            {{#if options}}
                                <div class="previewCartItem-options"> 
                                    <p class="previewCartItem-variant">
                                        {{#each options}}
                                            <span class="option-name">{{{ sanitize name}}}:</span>
                                            <span class="option-value">{{{ sanitize value}}}</span>
                                        {{/each}}
                                    </p>

                                    {{#if ../theme_settings.quickEditCart}}
                                        <a href="#" class="previewCartItem-edit" data-cart-edit-id="{{product_id}}" data-cart-itemid="{{id}}" data-cart-edit-price="{{price.formatted}}" data-cart-edit-quantity="{{quantity}}">
                                            <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
                                        </a>
                                    {{/if}}
                                </div>
                            {{/if}}

                            <span class="previewCartItem-price">
                                {{#if quantity '>' 1}}
                                    {{quantity}} &times;
                                {{/if}}
                                {{#or ../customer (unless ../settings.hide_price_from_guests) (if type '==' 'GiftCertificate')}}
                                    <span{{#if price_discounted}} class="price--discounted"{{/if}}>{{price.formatted}}</span>
                                    {{#if price_discounted}}
                                        {{price_discounted.formatted}}
                                    {{/if}}
                                {{else}}
                                    {{> components/common/login-for-pricing}}
                                {{/or}}
                            </span>

                            <div class="previewCartItem-qty">
                                <div class="form-increment">
                                    <button class="button button--icon" data-cart-update data-cart-itemid="{{id}}" data-action="dec">
                                        <span class="is-srOnly">{{lang 'products.quantity_decrease'}}</span>
                                        <span class="icon" aria-hidden="true"><svg title="icon keyboard arrow down"><use xlink:href="#icon-minus" /></svg></span>
                                    </button>

                                    <input class="form-input form-input--incrementTotal"
                                        id="qty-{{id}}"
                                        name="qty-{{id}}"
                                        type="number"
                                        value="{{quantity}}"
                                        data-quantity-min="{{min_purchase_quantity}}"
                                        data-quantity-max="{{max_purchase_quantity}}"
                                        data-quantity-min-error="{{lang 'products.quantity_min' quantity=min_purchase_quantity}}"
                                        data-quantity-max-error="{{lang 'products.quantity_max' quantity=max_purchase_quantity}}"
                                        min="1"
                                        pattern="[0-9]*"
                                        data-cart-itemid="{{id}}"
                                        data-action="manualQtyChange"
                                        aria-live="polite"{{#unless can_modify}} disabled{{/unless}}>

                                        <button class="button button--icon" data-cart-update data-cart-itemid="{{id}}" data-action="inc">
                                            <span class="is-srOnly">{{lang 'products.quantity_increase'}}</span>
                                            <span class="icon" aria-hidden="true"><svg title="icon keyboard arrow up"><use xlink:href="#icon-plus" /></svg></span>
                                        </button>
                                </div>
                            </div>

                            {{#if can_modify}}
                                <a class="previewCartItem-remove" data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">
                                    <span class="icon icon--cancel">
                                        <svg><use xlink:href="#icon-cancel"></use></svg>
                                    </span>
                                    <span>{{lang 'cart.checkout.remove'}}</span>
                                </a>
                            {{else}}
                                {{#if type '==' 'GiftCertificate'}}
                                    <a class="previewCartItem-remove" data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">
                                        <span class="icon icon--cancel">
                                            <svg><use xlink:href="#icon-cancel"></use></svg>
                                        </span>
                                        <span>{{lang 'cart.checkout.remove'}}</span>
                                    </a>
                                {{/if}}
                            {{/if}}
                        </div>
                    </li>
                {{/each}}
        </ul>
        <div class="previewCart__bottom">
            {{#if cart.shipping_handling.show_estimator}}
                <div class="cart-total cartTotal__item">
                    <div class="cart-total-label cartTotal__title toggle__title">
                        <strong>{{lang 'cart.checkout.shipping'}}:</strong>
                    </div>

                    <div class="cartTotal__content toggle__content">
                        {{> components/cart/shipping-estimator cart.shipping_handling}}
                    </div>
                </div>
            {{/if}}
            <ul class="previewCartTotalsPrice">
                <li class="previewCartTotals subTotal">
                    <div class="previewCartTotals-label">
                        {{lang 'cart.checkout.subtotal'}}:
                    </div>
                    <div class="previewCartTotals-value">
                        {{#or customer (unless settings.hide_price_from_guests)}}
                            {{cart.sub_total.formatted}}
                        {{else}}
                            {{> components/common/login-for-pricing}}
                        {{/or}}
                    </div>
                </li>
            </ul>
            <div class="previewCartAction">
                <div class="cartPolicy">
                    <div class="policy__container">
                        <span class="policy__checkbox">
                            <input type="checkbox" name="accept-policy-checkbox" id="accept-policy-checkbox">
                            <span class="policy__box">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="rale-icon"><path d="M14,24 L21,31 L39.7428882,11.5937758 C35.2809627,6.53125861 30.0333333,4 24,4 C12.95,4 4,12.95 4,24 C4,35.05 12.95,44 24,44 C35.05,44 44,35.05 44,24 C44,19.3 42.5809627,15.1645919 39.7428882,11.5937758" transform="translate(-2.000000, -2.000000)"></path></svg>
                            </span>
                        </span>

                        <label for="accept-policy-checkbox" class="policy__text">
                            I have read and agreed with the <a href="/terms-conditions" target="_blank" class="policy__link">terms and conditions</a> and <a href="/terms-of-service" target="_blank" class="rale-link">shipping information</a>
                        </label>
                    </div>
                </div>
                
                {{#if cart.show_primary_checkout_button}}
                    <div class="previewCartAction-checkout">
                        <a
                                href="{{urls.checkout.single_address}}"
                                class="button button--primary button--action csmCheckoutButton button--disabled"
                                data-primary-checkout-now-action
                        >   
                            <span class="icon icon--lock">
                                <svg><use xlink:href="#icon-lock2"></use></svg>
                            </span>

                            {{lang 'cart.preview.checkout_now'}}
                        </a>
                    </div>
                {{/if}}
    
                {{#if theme_settings.showSidebarButtonCart}}
                <div class="previewCartAction-viewCart{{#unless cart.show_primary_checkout_button}} previewCartAction-viewCart--sole{{/unless}}">
                    <a href="{{urls.cart}}" class="button button--transparent button--action">
                        {{lang 'cart.preview.view_cart'}}
                    </a>
                </div>
                {{/if}}
    
                {{#if cart.show_multiple_address_shipping}}
                    <div class="previewCartAction-checkoutMultiple">
                        <a href="{{urls.checkout.multiple_address}}">
                            {{lang 'cart.preview.checkout_multiple'}}
                        </a>
                    </div>
                {{/if}}
            </div>
            {{#and (if cart.additional_checkout_buttons) (if theme_settings.show_additional_checkout_buttons)}}
                <div class="previewCart-additionalCheckoutButtons">
                    {{#each cart.additional_checkout_buttons}}
                        {{{this}}}
                    {{/each}}
                </div>
            {{/and}}

            <em class="cart__note" data-animation="cart-items-fade" data-animation-duration="500" data-animation-delay="700">Shipping, taxes, and discount codes are calculated at checkout</em>
        </div>
    {{else}}
        <div role="alert" aria-live="polite" aria-atomic="false" class="previewCart-emptyBody">
            <p>{{lang 'cart.checkout.empty_cart'}}</p>

            <div class="emptyBody__buttons">
                <div class="emptyBody__item" data-animation="cart-items-fade" data-animation-duration="500" data-animation-delay="50">
                    <a href="{{theme_settings.cartEmpty1L}}" class="button button--secondary button--full">
                    {{theme_settings.cartEmpty1T}}
                    </a>
                </div>
                <div class="emptyBody__item" data-animation="cart-items-fade" data-animation-duration="500" data-animation-delay="100">
                    <a href="{{theme_settings.cartEmpty2L}}" class="button button--secondary button--full">
                    {{theme_settings.cartEmpty2T}}
                    </a>
                </div>
                <div class="emptyBody__item" data-animation="cart-items-fade" data-animation-duration="500" data-animation-delay="150">
                    <a href="{{theme_settings.cartEmpty3L}}" class="button button--secondary button--full">
                    {{theme_settings.cartEmpty3T}}
                    </a>
                </div>
                <div class="emptyBody__item" data-animation="cart-items-fade" data-animation-duration="500" data-animation-delay="200">
                    <a href="{{theme_settings.cartEmpty4L}}" class="button button--secondary button--full">
                    {{theme_settings.cartEmpty4T}}
                    </a>
                </div>
            </div>
        </div>
    {{/if}}
    </div>
</div>
