{{#if banners.bottom}}
    <div class="banners" data-banner-location="bottom">
        {{#each (limit banners.bottom_metadata 1)}}
            <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                <div data-event-type="promotion-click">
                    {{{this.content}}}
                </div>
            </div>
        {{/each}}
    </div>
{{/if}}
<footer class="footer" role="contentinfo">
    <h2 class="footer-title-sr-only">{{lang 'footer.title'}}</h2>

    <div class="footerLogo">
        <div class="container">
            <a href="/" class="footerLogo__wrapper">
                <img class="lazyload" src="" data-src="/product_images/uploaded_images/{{theme_settings.footer_logo}}" alt="{{theme_settings.footer_logo}}">
            </a>
        </div>
    </div>

    <div class="container">
        <section class="footer-info">
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h3 class="footer-info-heading">{{theme_settings.footer_col1_heading}}</h3>
                <ul class="footer-info-list">
                    {{#if theme_settings.footer_col1_item1_text}}
                        <li>
                            <a href="{{theme_settings.footer_col1_item1_link}}">{{theme_settings.footer_col1_item1_text}}</a>
                        </li>
                    {{/if}}
                    {{#if theme_settings.footer_col1_item2_text}}
                        <li>
                            <a href="{{theme_settings.footer_col1_item2_link}}">{{theme_settings.footer_col1_item2_text}}</a>
                        </li>
                    {{/if}}
                    {{#if theme_settings.footer_col1_item3_text}}
                        <li>
                            <a href="{{theme_settings.footer_col1_item3_link}}">{{theme_settings.footer_col1_item3_text}}</a>
                        </li>
                    {{/if}}
                    {{#if theme_settings.footer_col1_item4_text}}
                        <li>
                            <a href="{{theme_settings.footer_col1_item4_link}}">{{theme_settings.footer_col1_item4_text}}</a>
                        </li>
                    {{/if}}
                    {{#if theme_settings.footer_col1_item5_text}}
                        <li>
                            <a href="{{theme_settings.footer_col1_item5_link}}">{{theme_settings.footer_col1_item5_text}}</a>
                        </li>
                    {{/if}}
                    {{#if theme_settings.footer_col1_item6_text}}
                        <li>
                            <a href="{{theme_settings.footer_col1_item6_link}}">{{theme_settings.footer_col1_item6_text}}</a>
                        </li>
                    {{/if}}
                </ul>
            </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h3 class="footer-info-heading">{{theme_settings.footer_col2_heading}}</h3>
                <ul class="footer-info-list">
                    {{#if theme_settings.footer_col2_item1_text}}
                        <li>
                            <a href="{{theme_settings.footer_col2_item1_link}}">{{theme_settings.footer_col2_item1_text}}</a>
                        </li>
                    {{/if}}
                    {{#if theme_settings.footer_col2_item2_text}}
                        <li>
                            <a href="{{theme_settings.footer_col2_item2_link}}">{{theme_settings.footer_col2_item2_text}}</a>
                        </li>
                    {{/if}}
                    {{#if theme_settings.footer_col2_item3_text}}
                        <li>
                            <a href="{{theme_settings.footer_col2_item3_link}}">{{theme_settings.footer_col2_item3_text}}</a>
                        </li>
                    {{/if}}
                    {{#if theme_settings.footer_col2_item4_text}}
                        <li>
                            <a href="{{theme_settings.footer_col2_item4_link}}">{{theme_settings.footer_col2_item4_text}}</a>
                        </li>
                    {{/if}}
                </ul>
            </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h3 class="footer-info-heading">{{theme_settings.footer_col3_heading}}</h3>
                <ul class="footer-info-list">
                    {{#if theme_settings.footer_col3_item1_text}}
                        <li>
                            <a href="{{theme_settings.footer_col3_item1_link}}">{{theme_settings.footer_col3_item1_text}}</a>
                        </li>
                    {{/if}}
                    {{#if theme_settings.footer_col3_item2_text}}
                        <li>
                            <a href="{{theme_settings.footer_col3_item2_link}}">{{theme_settings.footer_col3_item2_text}}</a>
                        </li>
                    {{/if}}
                    {{#if theme_settings.footer_col3_item3_text}}
                        <li>
                            <a href="{{theme_settings.footer_col3_item3_link}}">{{theme_settings.footer_col3_item3_text}}</a>
                        </li>
                    {{/if}}
                </ul>
            </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-socials">
                <h3 class="footer-info-heading">{{theme_settings.footer_col4_heading}}</h3>
                {{#if theme_settings.footer_col4_desc}}
                    <p class="text">{{theme_settings.footer_col4_desc}}</p>
                {{/if}}
                <ul class="footer-info-list">
                    {{#if theme_settings.footer_col4_item1_link}}
                        <li>
                            <a href="{{theme_settings.footer_col4_item1_link}}">
                                <span class="icon icon--instagram-footer">
                                    <svg><use xlink:href="#icon-instagram-footer"></use></svg>
                                </span>
                            </a>
                        </li>
                    {{/if}}

                    {{#if theme_settings.footer_col4_item2_link}}
                        <li>
                            <a href="{{theme_settings.footer_col4_item2_link}}">
                                <span class="icon icon--facebook-footer">
                                    <svg><use xlink:href="#icon-facebook-footer"></use></svg>
                                </span>
                            </a>
                        </li>
                    {{/if}}

                    {{#if theme_settings.footer_col4_item3_link}}
                        <li>
                            <a href="{{theme_settings.footer_col4_item3_link}}">
                                <span class="icon icon--tiktok-footer">
                                    <svg><use xlink:href="#icon-tiktok-footer"></use></svg>
                                </span>
                            </a>
                        </li>
                    {{/if}}
                </ul>
            </article>

            {{#and theme_settings.shop_by_brand_show_footer shop_by_brand.length}}
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-brands">
                <h3 class="footer-info-heading">{{lang 'footer.brands'}}</h3>
                <ul class="footer-info-list">
                    {{#each shop_by_brand}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                    <li><a href="{{urls.brands}}">{{lang 'common.view_all'}}</a></li>
                </ul>
            </article>
            {{/and}}

          {{#if theme_settings.show_footer_newsletter_box}}
            <article class="footer-info-col footer-info-col--small" data-section-type="newsletterSubscription">
                {{#if settings.show_newsletter_box}}
                    {{> components/common/subscription-form}}
                {{/if}}
            </article>
          {{/if}}
        </section>
    </div>
    {{{region name="ssl_site_seal--global"}}}
    
    <div class="footerBottom">
        <div class="container">
            <div class="footerBottom__wrapper flex flex-between flex-center-y flex-wrap">
                <div class="footerBottom__item left">
                    {{#or customer (unless settings.hide_price_from_guests)}}
                        {{> components/common/currency-selector}}
                    {{/or}}
                </div>
                <div class="footerBottom__item center">
                    <ul class="footerBottom__socialList">
                        {{#if theme_settings.show_copyright_footer}}
                        <li>
                            <a href="/">&copy;{{settings.store_name}} {{moment format="YYYY"}}</a>
                        </li>
                        {{/if}}
                        {{#if theme_settings.footer_col2_item1_text}}
                            <li>
                                <a href="{{theme_settings.footer_col2_item1_link}}">{{theme_settings.footer_col2_item1_text}}</a>
                            </li>
                        {{/if}}
                        {{#if theme_settings.footer_col2_item2_text}}
                            <li>
                                <a href="{{theme_settings.footer_col2_item2_link}}">{{theme_settings.footer_col2_item2_text}}</a>
                            </li>
                        {{/if}}
                        {{#if theme_settings.footer_col2_item3_text}}
                            <li>
                                <a href="{{theme_settings.footer_col2_item3_link}}">{{theme_settings.footer_col2_item3_text}}</a>
                            </li>
                        {{/if}}
                        {{#if theme_settings.footer_col2_item4_text}}
                            <li>
                                <a href="{{theme_settings.footer_col2_item4_link}}">{{theme_settings.footer_col2_item4_text}}</a>
                            </li>
                        {{/if}}
                    </ul>    
                </div>

                <div class="footerBottom__item right">
                    {{> components/common/payment-icons}}
                </div>
            </div>
        </div>
    </div>
</footer>
