<a href="#main-content" class="skip-to-main-link">{{lang 'header.skip_to_main'}}</a>
{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}
<header class="header{{#if theme_settings.enable_header_layout_2}} header-layout-2{{/if}}" role="banner">
    <!-- Header Top -->
    {{> components/custom/header/header-top}}

    <!-- Header Middle -->
    
    {{#if theme_settings.enable_header_layout_2}}
        <!-- * Custom Search Form Layout 2 -->
        <div class="searchNewLayout__wrapper">
            <div class="items item--quicksearch custom-search">
                <div id="quickSearch" data-prevent-quick-search-close>
                    {{> components/common/quick-search}}
                </div>
            </div>
        </div>

        {{> components/custom/header/header-layout-2 }}
    {{else}}
        {{> components/custom/header/header-layout-1 }}
    {{/if}}

    <!-- Header Bottom -->
    <div class="headerBottom">
        <div class="navPages-container" id="menu" data-menu>
            {{> components/common/navigation-menu}}
        </div>
    </div>
    {{{region name="header_navigation_bottom--global"}}}
</header>

{{#if theme_settings.show_default_regions}}
    {{{region name="header_bottom--global"}}}
    {{{region name="header_bottom"}}}
{{/if}}