// =============================================================================
// FACET SEARCH (CSS)
// =============================================================================


// Faceted search toggle
// -----------------------------------------------------------------------------
//
// 1. Do not show if viewport is over "medium" breakpoint
//
// -----------------------------------------------------------------------------
.facetedSearch-toggle {
    @include grid-row;
    border: $facetedSearch-toggle-border;
    border-radius: $facetedSearch-toggle-borderRadius;
    border-width: $facetedSearch-toggle-borderWidth;
    display: block;
    margin-bottom: $facetedSearch-toggle-verticalSpacing;
    padding: $facetedSearch-toggle-padding;

    @include breakpoint("medium") {
        display: none !important; // 1
    }

    &.is-open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 0;
    }
}

.facetedSearch-toggle-text,
.facetedSearch-toggle-indicator {
    display: block;
    font-weight: normal;
}

.facetedSearch-toggle-text {
    @include grid-column(7);
    padding: 0;
    text-align: left;
}

.facetedSearch-toggle-indicator {
    @include grid-column(5);
    font-weight: bold;
    padding: 0;
    text-align: right;
}


// Faceted search nav list
// -----------------------------------------------------------------------------
//
// 1. Do not show if viewport is over "medium" breakpoint
//
// -----------------------------------------------------------------------------
.facetedSearch-navList {
    &.is-open {
        .accordion--navList,
        .accordion-block:first-child .accordion-navigation {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    .facetedSearch-toggle + &,
    .sidebarBlock + & {
        margin-top: $facetedSearch-toggle-verticalSpacing;
    }


    .facetedSearch-toggle + &.is-open,
    .sidebarBlock + &.is-open {
        margin-top: -1px;

        @include breakpoint("medium") {
            margin-top: $facetedSearch-toggle-verticalSpacing;
        }
    }

    .navList--inner {
        margin-left: spacing("single");
    }
}

.facet-quick-heading {
    text-transform: capitalize;
}

.facetedSearch-optionColumns {
    column-count: 3;
    column-gap: 20px;
}


// Faceted search refine filters
// -----------------------------------------------------------------------------
//
// 1. Only show if viewport is over "medium" breakpoint
//
// -----------------------------------------------------------------------------
.facetedSearch-refineFilters {
    display: none;

    @include breakpoint("medium") {
        display: block; // 1
    }
}

// Facted search ratings
.facetedSearch-content--rating {
    .is-selected {
        font-weight: bold;
    }
}

.reset-filters {
    display: none;
}


// * ------ Accordion Indicator Animate ------
.accordion-heading {
    margin: 0;
    .toggleLink {
        .accordion-indicator {
            display: block;
            position: absolute;
            top: 8px;
            right: -4px;
            transform: translateY(-50%);
            transition: opacity .3s ease, transform .3s ease, visibility .3s;
            
            &.icon-plus {
                visibility: hidden;
                opacity: 0;
            }
        }

        &.is-show {
            .icon-minus {
                visibility: hidden;
                opacity: 0;
                transform: translateY(-50%) rotate(90deg);
            }

            .icon-plus {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
.accordion-block {
    .accordion-content {
        display: block;

        .toggleLink {
            position: relative;
            text-decoration: none;
            font-weight: $fontWeight-thin;
            padding-left: 30px;

            .icon {
                @include pos($pos: abs, $l: -3px, $cb: center-y);
                @include square(24);
            }
        }
    }
}

// * ------ Reset Filter Button ------
.facetedSearch-resetFilters {
    position: sticky;
    left: 0;
    right: 17px;
    bottom: 0;
    z-index: 2;
    min-width: 271px;
    padding: 5px 15px 15px;
    margin-top: auto;
    background: #ffffff;

    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        height: 45px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0%) 0%, #ffffff 100%);
        pointer-events: none;
    }

    > .button {
        width: 100%;
        margin-bottom: 0;
    }
}

// * ------ Sort Dropdown ------
#sort {
    .popout-list {
        &__option {
            text-decoration: none;
            padding: 8px 15px;
            font-size: 12px;
            font-weight: $fontWeight-thin;
            line-height: 14px;
            display: block;
            white-space: nowrap;

            &.selected {
                span {
                    border-bottom: 1px solid #646464;
                }
            }

            &:hover {
                background-color: #f7f7f7;
            }
        }
    }
}