---
cart: true
---
{{inject 'cancelButtonText' (lang 'common.cancel')}}
{{#partial "page"}}
{{inject 'invalidEntryMessage' (lang 'cart.invalid_entry_message')}}
<div class="page page-cart{{#if theme_settings.enaCalculateShipping}} has-calculate-shipping{{/if}}">
    <div class="container container-small">
        <div class="page-content" data-cart>
            <div data-cart-status style="display: none;">
                {{> components/cart/status-messages}}
            </div>
            {{#if cart.items.length}}
                <div class="loadingOverlay"><div class="loader-progress"></div></div>
                <div class="cart-content-wrapper">
                    <div data-cart-content class="cart-content-item">
                        {{> components/cart/content}}
                    </div>

                    <div data-cart-totals class="cart-content-item">
                        {{> components/cart/totals}}
                    </div>
                </div>
            {{else}}
                <div class="pageCartEmpty">
                    <h1 class="page-heading" data-cart-page-title>
                        {{lang 'cart.heading'}}
                    </h1>
                    <p class="cart-content-empty">{{lang 'cart.checkout.empty_cart'}}</p>
                    {{#if theme_settings.enaCalculateShipping}}
                        <div class="freeShipping__message free-shipping" data-free-shipping="true" data-free-shipping-limit="100" data-animation="cart-items-fade" data-animation-duration="500" data-animation-delay="300">
                            <div class="freeShippingMessage__wrapper"></div>
                            <progress class="freeShipping__progress" data-progress-bar="" value="0" max="100"></progress>
                        </div>
                    {{/if}}
                    <div class="emptyBody__buttons">
                        <div class="emptyBody__item" data-animation="cart-items-fade" data-animation-duration="500" data-animation-delay="50">
                            <a href="{{theme_settings.cartEmpty1L}}" class="button button--secondary button--full">
                            {{theme_settings.cartEmpty1T}}
                            </a>
                        </div>
                        <div class="emptyBody__item" data-animation="cart-items-fade" data-animation-duration="500" data-animation-delay="100">
                            <a href="{{theme_settings.cartEmpty2L}}" class="button button--secondary button--full">
                            {{theme_settings.cartEmpty2T}}
                            </a>
                        </div>
                        <div class="emptyBody__item" data-animation="cart-items-fade" data-animation-duration="500" data-animation-delay="150">
                            <a href="{{theme_settings.cartEmpty3L}}" class="button button--secondary button--full">
                            {{theme_settings.cartEmpty3T}}
                            </a>
                        </div>
                        <div class="emptyBody__item" data-animation="cart-items-fade" data-animation-duration="500" data-animation-delay="200">
                            <a href="{{theme_settings.cartEmpty4L}}" class="button button--secondary button--full">
                            {{theme_settings.cartEmpty4T}}
                            </a>
                        </div>
                    </div>
                </div>

            {{/if}}
        </div>
    </div>
</div>
{{/partial}}
{{> layout/base}}
