// =============================================================================
// BODY (CSS)
//
// 1. Header is fixed on small screens, use the content body to create the whitespace
//    between it and the header on all situations. If you change the spacing here,
//    please update .heroCarousel too.
//
// =============================================================================
body {
    &:not(.page-type-default) {
        .header {
            box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.05);
        }
    }

    &:not(.page-type-default):not(.page-type-product):not(.ezStreetPage):not(.page-type-cart) {
        .page-heading {
            font-size: $fontSize-root + 10;
            margin-bottom: 25px;
            text-align: center;
        }

        .body {
            padding-bottom: 30px;

            @include smin-m {
                padding-bottom: 100px;
            }
        }
    }

    .page-content--textCenter {
        .page-heading {
            text-align: center;
        }
    }
}

.page {
    @include grid-row($behavior: nest);
    margin: 0;
}

.body {
    margin-bottom: 0;
    margin-top: 0;
}

.page-content,
.page-content--full {
    @include grid-column(12);
    padding: 0;
}

.page-content--textCenter {
    padding-top: 50px;
    text-align: center;
    float: none;
}

.page-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 0;
    height: 100vh;
    width: calc(100% - 44px);
    max-width: 375px;
    transition: all 0.5s ease, z-index 0s ease;
    box-shadow: rgba(50, 50, 50, 0.2) 0 0 2px 0;
    background-color: #ffffff;
    z-index: 999;
    left: -101%;

    &.has-toolbar {
        @include smin-m {
            margin-top: -67px;

            .page-listing & {
                padding-top: 0;
            }
        }
    }

    .facetedSearch-refineFilters {
        padding: 0;
        margin: 0;
    }

    .page-sidebar-close {
        position: absolute;
        top: 0;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1;
        background-color: $buttonStyle-primary-backgroundColor;
        right: -44px;
        left: auto;

        svg {
            transition: all 0.3s ease;
            fill: $buttonStyle-primary-color;
            width: 24px;
            height: 24px;
        }

        &:hover {
            background-color: $buttonStyle-primary-backgroundColor;

            svg {
                transform: rotate(180deg) scale(1.2);
            }
        }

        .title {
            font-size: 0;
        }

        .close {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            line-height: 1;

            svg {
                width: 20px;
                height: 20px;
                fill: #ffffff;
            }
        }
    }

    >nav {
        display: block;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding: 40px 30px 100px 30px;
    }

    .page-sidebar-content {
        display: block;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding: 40px 30px 100px 30px;
    }

    @include smax-m {
        &.is-open {
            .openSidebar & {
                left: 0;
            }
        }

        >nav {
            padding: 15px 15px 100px;
        }

        .page-sidebar-content {
            padding: 15px 15px 100px;
        }
    }

    @include smin-m {
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        z-index: 5;
        float: left;
        width: 265px;
        display: inline-block;
        box-shadow: none;
        background-color: transparent;
        max-width: none;
        transition: unset;

        .page-sidebar-close {
            display: none;
        }

        .page-sidebar-content {
            padding: 0;
            overflow: visible;
        }

        >nav {
            padding: 0;
            overflow: visible;
        }

        +.page-content {
            padding-left: 30px;
            width: calc(100% - 265px);
        }

        &.u-hiddenVisually {
            +.page-content {
                padding-left: 0;
                width: 100%;
            }
        }

        &.u-hidden {
            +.page-content {
                padding-left: 0;
                width: 100%;
            }
        }

        .is-sidebarSticky {
            position: sticky;
            top: 80px;

        }

        .page-listing & {
            padding-top: 17px;
            padding-bottom: 42px;
        }
    }
}

