{{#partial "page"}}
{{#if settings.show_wishlist}}

    <div class="wrapper p-0 customAccount__wrapper">
        <div class="customAccount__left">
            {{> components/account/navigation account_page='wishlists'}}
        </div>
        
        <div class="customAccount__right">
            <div class="account account--fixedLarge">
                <h2 class="page-heading">{{lang 'account.wishlists.heading' }}</h2>
                {{> components/account/wishlist-list}}
            </div>
        </div>
    </div>
{{/if}}
{{/partial}}
{{> layout/base}}
