<div class="facetedSearch-refineFilters sidebarBlock{{#if items}} has-result{{/if}}" role="region" aria-label="{{lang 'search.faceted.selected.facet-label'}}">
    {{#if items}}
        <ul class="inlineList inlineList--labels">
            {{#and remove_all_url (if items.length '>' 1)}}
                <li>
                    <a href="{{remove_all_url}}" class="facetLabel facetLabel--all fw-400" data-faceted-search-facet>
                        {{lang 'search.faceted.selected.clear-all'}}
                    </a>
                </li>
            {{/and}}
            
            {{#each items}}
                <li>
                    <a href="{{url}}"
                       class="facetLabel"
                       rel="nofollow"
                       data-faceted-search-facet
                    >
                        {{#if facet '===' 'rating'}}
                            {{lang 'search.faceted.selected.rating-label' rating=title}}
                        {{else}}
                            {{{sanitize title}}}
                        {{/if}}

                        <svg class="icon">
                            <use href="#icon-close" />
                        </svg>
                    </a>
                </li>
            {{/each}}
        </ul>
    {{/if}}
</div>
