// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================


// Container
// -----------------------------------------------------------------------------

.productView {
    --block-padding-top: 20px;
    --block-padding-bottom: 20px;
    --border: rgb(244, 242, 240);

    padding-top: spacing("base");

    p {
        margin: 8px 0;
        font-weight: 400;
        line-height: 19px;
    }
}


// Images
// -----------------------------------------------------------------------------

.productView-images {
    margin-bottom: spacing("double");
}

.productView-image {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;

    @include breakpoint("medium") {
        min-height: 366px;
        min-width: inherit;
    }

    + .productView-thumbnails {
        margin-top: spacing("half");
    }

    @media (min-width: $screen-xxsmall) and (max-width: $screen-medium) {
        pointer-events: none;
    }
}

.productView-img-container {

    @include lazy-loaded-padding("product_size");
    margin: auto;
    max-width: get-width(stencilString("product_size"));
    position: relative;
    width: 100%;

    img {
        @include lazy-loaded-img;
        /* Object-fit polyfill */
        font-family: "object-fit: contain;";
        height: 100%;
        object-fit: contain;
        width: 100%;
    }
}

.productView-thumbnails {
    @include u-listBullets("none");

    @include smax-s {
        @include flexbox($align-items: center);
    }; 

    &[data-slick] {
        opacity: 0;

        &.slick-initialized {
            opacity: 1;
        }
    }

    .slick-next {
        right: 0;
    }

    .slick-prev {
        left: 0;
    }

    img {
        @include lazy-loaded-img;
        /* Object-fit polyfill */
        font-family: "object-fit: contain;";
        margin: 0;
        object-fit: contain;
        position: relative;
        width: get-width(stencilString("productview_thumb_size"));
    }
}

.productView-thumbnail {
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;

    @include smax-s {
        width: 25%;
    }; 
}

.productView-thumbnail-link {
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    max-width: 75px;
    height: 75px;
    padding: 0;
    position: relative;
    width: 100%;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: -10px;
        width: 2px;
        height: 30px;
        max-height: 90%;
        margin: 0;
        background: #c9bfb5;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-50%);
        transition: opacity .2s;

        @include smax-s {
            bottom: 0;
            left: 0;
            top: unset;
            right: 0;
            margin: auto;
            width: 100%;
            height: 2px;
        }; 
    }

    &.is-active {
        &::after {
            opacity: 1;
        }
    }
}


// Details
// -----------------------------------------------------------------------------

.productView-details {
    padding-bottom: spacing("single") + spacing("third");
}


// Details - Product details
// -----------------------------------------------------------------------------

.productViewRight__wrapper {
   @include smin-s {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
   }; 
}

.productView-title {
    margin: 0;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0;
    padding-right: 70px;
    margin-bottom: 7px;

}

.productView-brand {
    color: $productView-brand-link-color;
    font-size: fontSize("smaller");
    margin: 0 0 spacing("half");

    @include breakpoint("large") {
        font-size: fontSize("small");
        margin: -(spacing("eighth")) 0 spacing("base");
    }

    a {
        color: $productView-brand-link-color;

        &:hover {
            color: $productView-brand-link-color--hover;
        }
    }
}

// Details - Product price
// -----------------------------------------------------------------------------

.productView-price {
    abbr {
        border: 0;
        color: inherit;
        font-size: inherit;
        padding-left: 4px;
    }

    .priceSection__wrapper {
        .price-section {
            font-size: 0px;
            margin: 10px 0 0;
            padding: 5px 0;

            span,
            abbr {
                font-size: $fontSize-root;
            }

            &.price-section--withoutTax {
                padding-right: 4px;
            }
        }
    }
}

.productView-showStock {
    margin-bottom: 16px;

    span {
        color: $color-custom-black;
        font-size: $fontSize-root - 2;
        line-height: 1.125rem;
        letter-spacing: 0px;
    }
}

.productView-reviewLink {
    color: stencilColor("color-textSecondary");
    display: inline-block;
    margin-left: spacing("quarter");
    vertical-align: middle;

    &:hover {
        color: stencilColor("color-textSecondary--hover");
    }

    &--new {
        padding: 0;
    }
}


// Details - Product Information
// -----------------------------------------------------------------------------

.productView-info {
    @include clearfix;
    margin-top: spacing("half");

    @include breakpoint("small") {
        margin-top: 0;
    }

    > :first-child {

        @include breakpoint("small") {
            margin-top: spacing("single");
        }
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.productView-info-name,
.productView-info-value {
    float: left;

    @include breakpoint("small") {
        float: none;
    }
}

.productView-info-name {
    clear: both;
    margin-bottom: spacing("eighth");
    margin-right: spacing("quarter");

    @include breakpoint("small") {
        font-family: fontFamily("headingSans");
        font-size: fontSize("smallest");
        font-weight: fontWeight("normal");
    }
}

.productView-info-value {
    margin-bottom: spacing("quarter");

    @include breakpoint("small") {
        margin-bottom: spacing("base");
    }
}


// Details - Product options
// -----------------------------------------------------------------------------
//
// 1. Align the product options list item radios vertically.
// 2. Resetting font due to inline-block whitespace issue.
// 3. File upload button does not properly display in IE if font-size is 0
//
// -----------------------------------------------------------------------------

.productView-options {
    @include clearfix;
    margin-bottom: spacing("single");
    text-align: center;

    @include breakpoint("small") {
        text-align: left;
    }

    .form-input[type="number"] {
        @include breakpoint("small") {
            width: grid-calc(2, $total-columns);
        }
    }

    .form {
        display: inline;

        .add-to-cart-wrapper {
            display: inline;
        }
    }

    input[type="file"] {
        font-size: fontSize("smallest"); // 3
    }

    .form-field { 
        font-size: 0; // 2
        
        &:not(.product-block-line) {
            margin-bottom: 2rem;
        } 

        &--error > .form-inlineMessage {
            font-size: 1rem;
        }

        > .form-checkbox + .form-label {
            display: inline-block;
            margin-left: spacing("single");
            width: auto;

            @include breakpoint("small") {
                margin-left: 0;
                width: 100%;
            }
        }

        > .form-radio + .form-label {
            display: inline-block;
            text-align: justify;
        }

        > .form-label:nth-of-type(2) {
            margin-left: 0;
        }
    }

    .add-to-cart-buttons {
        display: inline-grid;
        float: left;
        margin-bottom: 1rem;
        width: 100%;

        @include breakpoint("small") {
            padding: 0 remCalc(10);
            width: 50%;
        }

        @include breakpoint("medium") {
            padding-right: spacing("half");
            width: 50%;
        }

        @include breakpoint("large") {
            display: inline-block;
            margin-top: 1rem;
            padding-right: spacing("half");
            width: 50%;
        }

        &.pre-order-buttons {
            @include breakpoint("small") {
                min-width: 50%;
                width: auto;
            }

            @include breakpoint("medium") {
                margin-right: remCalc(11px);
                min-width: auto;
                padding: 0;
                width: auto;
            }

            .button {
                padding: remCalc(13px) remCalc(24px);
            }
        }

        .button {
            margin: 0;
            width: 100%;
        }
    }

    .add-to-cart-wallet-buttons {
        margin-top: spacing("half");

        div[data-smart-button-container-id] {
            line-height: 0;
            margin-top: 6px;

            button,
            div {
                width: 100%;
            }
        }

        button.show-more-button {
            color: stencilColor("color-textSecondary");
            display: block;
            margin-top: spacing("quarter");
            padding: spacing("quarter") 0;
            text-align: center;
            text-decoration: underline;
            vertical-align: middle;
            width: 100%;

            &:hover {
                color: stencilColor("color-textSecondary--hover");
            }
        }
    }

    .customFormField {
        display: grid;
        gap: 10px;
        grid-template-columns: minmax(0, 7.5rem) minmax(0, 100%);

        &::before,
        &::after {
            content: unset;
        }

        &__left {
            > .form-label {
                color: $color-custom-black;
                font-size: $fontSize-root;
                line-height: 19px;
                letter-spacing: 0px;
                font-weight: 400;
                font-family: $body-font-family;

                [data-option-value] {
                    font-size: 12px;
                    padding: 4px 0 0;
                }
            }

            .form-field--increments {
                margin-bottom: 0;
            }
        }

        &__right {
            .add-to-cart-buttons {
                margin: 0;
                padding: 0;
                width: 100%;
            }
        }
    }
}


// Product list (with images)
// -----------------------------------------------------------------------------

.productOptions-list {
    border: $productOptions-list-border;
    list-style: none;
    margin: 0;
    max-height: 400px;
    overflow-y: auto;
}

.productOptions-list-item {
    padding: $productOptions-list-item-padding;

    + .productOptions-list-item {
        border-top: $productOptions-list-item-borderTop;
    }

    .form-label {
        text-align: left;
        top: -2px; // 1
    }
}

.productOptions-list-item-figure,
.productOptions-list-item-content {
    display: table-cell;
    vertical-align: middle;
}

.productOptions-list-item-figure {
    width: $productOptions-list-item-figure-width;
}

.productOptions-list-item-content {
    padding-left: $productOptions-list-item-content-paddingLeft;
}


// Share products
// -----------------------------------------------------------------------------

.shareProduct {
    text-align: center;
}


// EasyZoom settings for zoomable product image
// -----------------------------------------------------------------------------

.productView-image .easyzoom-flyout {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;

    img {
        max-width: none;
        width: auto;
    }
}

.product-block {
    margin-top: var(--block-padding-top, 0px);
    margin-bottom: var(--block-padding-bottom, 16px);
}

.divider {
    margin: 0;
    border-color: var(--border);
}

.product-block-line {
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 1px solid --border;
    border-bottom: 1px solid --border;
    margin-bottom: 16px;
}

.text-bold {
    margin: 0;
    font-weight: 400;
}

.productView__findStore {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    
    .findStore {
        &__content {
            grid-row-start: 1;
            grid-column-start: 1;
            min-height: 100%;
            width: 100%;
            padding: 12px 20px;
            background: #f4f2f0;
        }
        &__heading {}
        &__text {}
    }
}