<!-- Menu Mobile Sidebar -->
<div class="custom-sidebar custom-menu-mobile custom-sidebar-left animated{{#if theme_settings.customMegamenu}} custom-menu-megamenu{{/if}}" id="custom-menu-mobile">
    <div class="custom-sidebar-header">
        <button class="custom-sidebar-close" aria-label="Show menu" aria-haspopup="true" aria-expanded="true" aria-controls="header-menu" tabindex="-1">
            <span class="icon icon--cancel">
                <svg><use xlink:href="#icon-cancel"></use></svg>
            </span>
        </button>
    </div>

    <div class="custom-sidebar-wrapper navPages-container" data-menu>
        {{> components/common/navigation-mobile }}
    </div>
</div>


<!--  Cart Sidebar -->
<div class="custom-sidebar custom-cart-sidebar custom-sidebar-right" id="custom-cart-sidebar">
    <div class="custom-sidebar-header">
        <button class="custom-sidebar-close" aria-label="Show menu" aria-haspopup="true" aria-expanded="true" aria-controls="header-menu" tabindex="-1">
            <span class="icon icon--cancel">
                <svg><use xlink:href="#icon-cancel"></use></svg>
            </span>
        </button>
    </div>

    <div class="custom-sidebar-wrapper"></div>
</div>