// =============================================================================
// GRID (CSS)
// =============================================================================

.container {
    position: relative;
    width: layout("fixed");
    max-width: 100%;
    padding: 0 16px;
    margin-inline: auto;

    @include smin-m {
        padding: 0 30px;
    }

    @include smin-xl {
        padding: 0 50px;
    }

    &.container--full {
        padding: 0;
    }
}
