// =============================================================================
// FOOTER (CSS)
// =============================================================================


// Layout and columns
// -----------------------------------------------------------------------------
//
// 1. To enable the grid's display: inline-block; to work properly, we need to
//    remove the white-space that it creates between columns with font-size: 0;
// 2. Re-set the font-size that was reduced to 0 in point 1 for children.
// 3. Fix for text flickers on windows devices
//
// -----------------------------------------------------------------------------

.footer {
    background-color: $footer-background;
    border-top: container("border");
    padding: 26px 0 30px;
    position: relative;
    transform: translateZ(0); // 3
}

.footerLogo {
    padding: 20px 0;
    
    &__wrapper {
        @include image-padding-bottom(100, 100);
        max-width: 100px;
        display: block;
    }
}

.footer-title-sr-only {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

.footer-info {
    @include grid-row($behavior: nest);
    font-size: 0; // 1
}

.footer-info-col {
    @include grid-column(12);
    color: stencilColor("color-textSecondary");
    display: inline-block;
    float: none;
    font-size: fontSize("base"); // 2
    overflow-wrap: break-word;
    vertical-align: top;
    // TODO: specifically use vendor only for IE11 since overflow-wrap is not supported here
    -ms-word-break: break-all;
    margin-bottom: 16px;

    @include smin-s {
        width: width("6/12");
    }

    @include smin-m {
        width: width("4/12");
        margin-bottom: 32px;
    }

    &[data-section-type="footer-socials"] {
        .text {
            color: stencilColor("color-textBase");
            font-weight: 300;
            margin-bottom: 15px;
        }

        .footer-info-list {
            @include flexbox($align-items: center);
            margin: -8px;

            > li {
                margin: 8px;
            }

            .icon {
                @include square(20);

                svg {
                    fill: none;
                }
            }
        }
    }
}

.footer-info-col--small {
    @include smin-m {
        width:20%;
    }
}

.footer-info-col--social {
    width: 100%;
}

.footer-info-col--left {
    @include smin-s {
        padding: 0;
    }
}

.footer-info-col--right {
    @include smin-s {
        left: 50%;
        position: inherit;
        width: 50%;
    }

    @include smin-m {
        left: 0;
        padding: 0;
        text-align: right;
        width: 100%;
    }
}


// Content
// -----------------------------------------------------------------------------

.footer-info-heading {
    font-size: 23px;
    line-height: 28px;
    letter-spacing: 0;
    margin: 11.5px 0;
    padding: 0 0 10px;

    @include smax-s {
        font-size: 20px;
        line-height: 24px;
        margin: 10px 0;
    }; 
}

.footer-info-list {
    list-style: none;
    margin-left: 0;

    > li {
        margin: 0 0 1.25rem;
        line-height: 19px;

        @include smax-s {
            line-height: 18px;
        }; 

        
        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        color: stencilColor("color-textSecondary");
        text-decoration: none;
        transition: color .25s ease;

        @include smax-s {
            font-size: $fontSize-root - 2;
            font-weight: 300;
        }; 

        &:hover {
            color: rgba(stencilColor("color-textSecondary--hover"), 0.7);
        }
    }
}

.footer-copyright {
    text-align: center;

    @include smin-s {
        text-align: left;
    }

    > .powered-by {
        color: stencilColor("color-textSecondary");
        font-size: fontSize("tiny");
        margin: 0;
    }

    a {
        color: stencilColor("color-textSecondary");
        text-decoration: none;

        &:hover {
            color: stencilColor("color-textSecondary--hover");
        }
    }
}

.footer-newsletter-summary {
    text-align: left;
}


// * ------ Footer bottom ------
.footerBottom {
    padding-top: 30px;

    &__item {
        @include flexbox($align-items: center);

        @include smax-s {
            margin-bottom: 12px;

            &:last-child {
                margin-bottom: 0;
            }
        }; 

        &.right {
            @include smin-s {
                justify-content: flex-end;
                flex: 1 0 auto;
            }

            .footer-payment-icons {
                --gap: 5px;
                --gap-offset: calc(var(--gap) * -1);
                display: flex;
                flex-wrap: wrap;
                margin: var(--gap-offset);

                > li {
                    padding: var(--gap);
                    display: inline-block;
                    margin-bottom: 0;

                    svg {
                        display: block;
                        width: 36px;
                        height: 24px;
                    }
                }
            }
        }

        &.left {
            flex: 1 0 auto;
            .navUser-section {
                margin: 0;
            }

            .navUser-action--currencySelector {
                border: 1px solid $color-custom-yellow;
                padding: 14px 16px;
                margin: 0 10px;
                white-space: nowrap;
                background-image: none;
                font-weight: 300;
                text-transform: uppercase;
                white-space: .12em;
                font-size: 10px;
                line-height: 10px;
                border-radius: 22px;

                @include smax-m {
                    margin-left: 0;
                }; 

                svg {
                    stroke: none;
                }

                + #currencySelection {
                    bottom: 50px !important;
                    min-width: 200px;
                    top: unset !important;
                    border: 1px solid $color-custom-yellow;
                    background-color: #ffffff;
                    opacity: 0;
                    visibility: hidden;
                    margin: 0;
                    padding: 10px 0;
                    min-width: 150px;
                    max-width: 100vw;
                    min-height: 30px;
                    max-height: 300px;
                    z-index: 100;
                    overflow-y: auto;
                    list-style-type: none;
                    pointer-events: none;
                    transition: opacity .2s ease, visibility .2s;

                    &.is-open {
                        opacity: 1;
                        visibility: visible;
                        pointer-events: auto;
                        transition: opacity .4s ease, visibility .4s;
                    }

                    .dropdown-menu-item {
                        white-space: nowrap;
                        padding: 0;
                        margin: 0;
                        text-align: left;

                        > a {
                            font-size: 12px;
                            font-weight: 300;
                            padding: 8px 15px;
                            transition: color .25s ease;
                            color: $color-custom-yellow;

                            &.is-active {
                                text-decoration: underline;
                                text-decoration-color: #646464;
                                text-underline-offset: 2px;
                            }
                        }
                    }
                }
            }

            .navUser-item {
                display: block;
            }
        }

        &.center {
            flex: 1 1 auto;
        }
    }

    &__socialList {
        @include flexbox($flex-wrap: wrap);
        --gap: 8px;
        --gap-offset: calc(var(--gap) * -1);

        margin: 0 var(--gap-offset);
        list-style: none;

        li {
            margin-bottom: 0;
            padding: 10px var(--gap);

            a {
                text-decoration: none;
                transition: color .25s ease;
                color: $color-custom-yellow;
                font-size: 14px;
                font-weight: 300;

                @include smax-s {
                    font-size: 12px;
                }
            }
        }
    }
}