// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================


// Product view layout
// -----------------------------------------------------------------------------

.productView {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include smin-m {
        display: block;
    }

    .modal & {
        padding-bottom: 0;
        padding-top: 0;
    }
}

.productView--quickView {
    .socialLinks-item--print {
        display: none;
    }
}

.productView-images {
    @include grid-column(12);
    float: unset;
    padding: 0;
    @include flexbox($flex-direction: row-reverse);

    @include smax-s {
        flex-direction: column;
    }; 

    .productView-image {
        &--nav {
            width: calc(100% - 85px);
            padding-left: 20px;

            @include smax-s {
                width: 100%;
            }; 
        }
        
        &--thumbnail {
            width: 85px;
            padding-left: 8px;

            
            @include smax-s {
                width: 100%;
            }; 
        }
    }
}

.productView-details {
    @include grid-column(12);
    float: unset;
    padding: 0;

    .productView--quickView & {
        position: relative;
    }
}

.productView-description {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");
    position: relative;
    z-index: 1;

    .productView-title {
        border-bottom: container("border");
        margin-bottom: spacing("base");
        padding-left: spacing("base");
        padding-right: spacing("base");
    }

    .productView-description {
        @include smin-m {
            clear: both;
            float: none;
            width: 100%;
        }
    }
}


.productViewTop {
    &__wrapper {
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(2, minmax(0, 1fr));

        @include smax-s {
            grid-template-columns: 1fr;
        }; 
    }

    &__item {
        width: 100%;

    }

    &__left {
    }

    &__right {
        padding-left: 50px;

        @include smax-s {
            padding-left: 0;
        }; 
    }

    &__breadcrumb {
        .breadcrumbs {
            margin-bottom: 7px;
        }
    }
}

.product-icon {
    color: #cba052;
    margin: 8px 10px 8px 0;

    svg {
        @include square(20);
    }
}