<ul id="sort" class="popout-list form-fieldset actionBar-section">
    <li class="popout-list__item popout-list__item--current">
        <a class="popout-list__option{{#if sort '==' 'featured'}} selected{{/if}}" data-value="featured" href="{{url}}?sort=featured">
            <span class="color-base">{{lang 'common.sorter.featured'}}</span>
        </a>
    </li>
    <li class="popout-list__item ">
        <a class="popout-list__option{{#if sort '==' 'newest'}} selected{{/if}}" data-value="newest" href="{{url}}?sort=newest">
            <span class="color-base">{{lang 'common.sorter.newest'}}</span>
        </a>
    </li> 
    <li class="popout-list__item ">
        <a class="popout-list__option{{#if sort '==' 'bestselling'}} selected{{/if}}" data-value="bestselling" href="{{url}}?sort=bestselling">
            <span class="color-base">{{lang 'common.sorter.top_sellers'}}</span>
        </a>
    </li>   
    <li class="popout-list__item ">
        <a class="popout-list__option{{#if sort '==' 'alphaasc'}} selected{{/if}}" data-value="alphaasc" href="{{url}}?sort=alphaasc">
            <span class="color-base">{{lang 'common.sorter.alpha_asc'}}</span>
        </a>
    </li>
    <li class="popout-list__item ">
        <a class="popout-list__option{{#if sort '==' 'alphadesc'}} selected{{/if}}" data-value="alphadesc" href="{{url}}?sort=alphadesc">
            <span class="color-base">{{lang 'common.sorter.alpha_desc'}}</span>
        </a>
    </li>
    <li class="popout-list__item ">
        <a class="popout-list__option{{#if sort '==' 'avgcustomerreview'}} selected{{/if}}" data-value="avgcustomerreview" href="{{url}}?sort=avgcustomerreview">
            <span class="color-base">{{lang 'common.sorter.reviews'}}</span>
        </a>
    </li>
    <li class="popout-list__item ">
        <a class="popout-list__option{{#if sort '==' 'priceasc'}} selected{{/if}}" data-value="priceasc" href="{{url}}?sort=priceasc">
            <span class="color-base">{{lang 'common.sorter.price_asc'}}</span>
        </a>
    </li> 
    <li class="popout-list__item ">
        <a class="popout-list__option{{#if sort '==' 'pricedesc'}} selected{{/if}}" data-value="pricedesc" href="{{url}}?sort=pricedesc">
            <span class="color-base">{{lang 'common.sorter.price_desc'}}</span>
        </a>
    </li>
    {{#if result_count}}
        <li class="popout-list__item ">
            <a class="popout-list__option{{#if sort '==' 'relevance'}} selected{{/if}}" data-value="relevance" href="{{url}}?sort=relevance">
                <span class="color-base">{{lang 'common.sorter.relevance'}}</span>
            </a>
        </li>
    {{/if}}
</ul>
