{{#partial "page"}}
<div class="login">
    <h1 class="page-heading text-center">{{lang 'login.heading' }}</h1>
    <p class="page-login-desc text-center">Don't have an account? <a href="{{urls.auth.create_account}}" class="hover-link-2">Sign up here.</a></p>
    {{#if forms.login.error}}
        {{> components/common/alert/alert-error forms.login.error}}
    {{/if}}
    {{#if forms.login.success}}
        {{> components/common/alert/alert-success forms.login.success}}
    {{/if}}
    <div class="login-row">
        <form class="login-form form" action="{{urls.auth.check_login}}" method="post">
            {{inject 'useValidEmail' (lang 'forms.validate.common.email_address')}}
            {{inject 'enterPass' (lang 'forms.validate.common.password')}}
            <div class="form-field csmFormField">
                <input class="form-input" placeholder="" name="login_email" id="login_email" type="email">
                <label class="form-label" for="login_email">{{lang 'login.field_email'}}</label>
            </div>
            <div class="form-field csmFormField">
                <input class="form-input" placeholder="" id="login_pass" type="password" name="login_pass" autocomplete="off">
                <label class="form-label" for="login_pass">{{lang 'login.field_password'}}</label>
            </div>
            <div class="flex flex-between flex-center-x pt-20 pb-20">
                <button type="submit" class="button button--primary mb-0">{{lang 'login.submit_value' }}</button>
                <a class="forgot-password hover-link-2 csmLoginText fw-400" href="{{urls.auth.forgot_password}}">{{lang 'login.forgot_password' }}</a>
            </div>
        </form>
        {{#and (if settings.account_creation_enabled) (if theme_settings.show_newCustomerHint)}}
            <div class="new-customer">
                <div class="panel">
                    <div class="panel-header">
                        <h2 class="panel-title">{{lang 'login.new_customer.heading' }}</h2>
                    </div>
                    <div class="panel-body">
                        <p class="new-customer-intro">{{lang 'login.new_customer.intro' }}</p>
                        <ul class="new-customer-fact-list">
                            <li class="new-customer-fact">{{lang 'login.new_customer.fact1' }}</li>
                            <li class="new-customer-fact">{{lang 'login.new_customer.fact2' }}</li>
                            <li class="new-customer-fact">{{lang 'login.new_customer.fact3' }}</li>
                            <li class="new-customer-fact">{{lang 'login.new_customer.fact4' }}</li>
                            <li class="new-customer-fact">{{lang 'login.new_customer.fact5' }}</li>
                        </ul>
                        <a href="{{urls.auth.create_account}}"><button class="button button--primary">{{lang 'login.new_customer.create_account' }}</button></a>
                    </div>
                </div>
            </div>
        {{/and}}

        <div class="login-bottom mb-20">
            <a href="/" class="hover-link-2 csmLoginText">Return to Store</a>
    
            <div class="form-legal">
                <p data-spam-detection-disclaimer="">This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="/account/register">Terms of Service</a> apply.</p>
            </div>
        </div>
    </div>
</div>
{{/partial}}
{{> layout/base}}
