.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes itemFadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-15px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes itemFadeOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(15px);
    }
    
}

@keyframes heroFade {
    0% {
        opacity: 0;
        transform: translate3d(0, 15px, 0);
    }

    100% {
        opacity: 1;
        transform: translateZ(0)
    }
}

@keyframes pulseHover {
    0% {
        transform: scale(1);
        opacity: .3;
    }

    15% {
        transform: scale(1.2);
        opacity: .05;
    }

    50% {
        transform: scale(1);
        opacity: .3;
    }

    100% {
        transform: scale(1);
        opacity: .3;
    }
}

@keyframes overlaySlide {
    25%, 75% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}


@keyframes skeleton-loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

@keyframes indeterminate {
    0% {
        transform: translate(0) scaleX(.35);
    }

    60% {
        transform: translate(50%) scaleX(.9);
    }

    100% {
        transform: translate(100%) scaleX(.9);
    }
}

@keyframes indeterminate-short {
    0% {
        transform: translate(0) scaleX(2);
    }

    60% {
        transform: translate(460px) scaleX(.01);
    }

    100% {
        transform: translate(460px) scaleX(.01);
    }
}

.has-activeNavPages {
    @for $i from 0 through 100 {
        .fadeInRight {
            &[data-step-animate='#{$i}'] {
                -webkit-animation-name: itemFadeInRight;
                animation-name: itemFadeInRight;
                opacity: 0;
                will-change: transform, opacity;
                animation-fill-mode: both;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                animation-delay: 0.25s + $i * 0.05;
                animation-duration: .5s;
            }
        }

        .navPage-subMenu-list {
            > .fadeInRight {
                &[data-step-animate='#{$i}'] {
                    -webkit-animation-name: itemFadeOutRight;
                    animation-name: itemFadeOutRight;
                    animation-duration: .25s;
                    animation-delay: 0.2s + $i * 0.1;
                    animation-fill-mode: both;
                }

            }

            &.show-subMenu {
                > .fadeInRight {
                    &[data-step-animate='#{$i}'] {
                        -webkit-animation-name: itemFadeInRight;
                        animation-name: itemFadeInRight;
                        opacity: 0;
                        will-change: transform, opacity;
                        animation-fill-mode: both;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        animation-delay: 0.25s + $i * 0.05;
                        animation-duration: .5s;
                    }
                }
            }
        }
    }
}

#facetedSearch-navList {
    @for $i from 0 through 100 {
        .fadeInRight {
            &[data-step-animate='#{$i}'] {
                opacity: 0;
                will-change: transform, opacity;
                animation-fill-mode: both;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                animation-delay: 0.25s + $i * 0.05;
                animation-duration: .5s;
                transform: translateX(-15px);

                .openProductListingSidebar & {
                    -webkit-animation-name: itemFadeInRight;
                    animation-name: itemFadeInRight;
                }
            }
        }
    }
}


// * ------ Custom AOS Animate ------
[data-aos=hero] {
    opacity: 0;
    will-change: transform, opacity;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);

    &.aos-animate {
        animation-name: heroFade;
        animation-duration: 1s;
        animation-fill-mode: both;
    }

    @for $i from 0 through 100 {
        &[data-aos-order="#{$i}"] {
            animation-delay: 0.15s * $i;
        }
    }
}

// * ------ Card Animate ------
.aos-initialized  {
    [data-aos=img-in] {
        opacity: 0;
        transform: scale(1.06);
        transition-duration: .5s;
        transition-property: transform, opacity;

        &.aos-animate {
            opacity: 1;
            transform: translateZ(0);
        }
    }

    [data-aos][data-aos][data-aos-duration="800"], 
    body[data-aos-duration="800"] [data-aos] {
        transition-duration: 0.8s;
    }

    [data-aos][data-aos][data-aos-easing=ease-out-quart], 
    body[data-aos-easing=ease-out-quart] [data-aos] {
        transition-timing-function: cubic-bezier(.25,.46,.45,.94);
    }

    [data-animation=animate-items-fade] {
        animation-name: itemFadeInRight;
    }
}

[data-animation=cart-items-fade] {
    opacity: 0;
    will-change: transform, opacity;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    .openCartSidebar &,
    .page-type-cart & {
        animation-name: cartDrawerItemsFadeInLeft;
    }
}

@keyframes animate-svg {
    0% {
        stroke-dashoffset: 88;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes cartDrawerItemsFadeInLeft {
    0% {
        opacity: 0;
        transform: translate(15px);
    }

    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}