.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes itemFadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-15px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes heroFade {
    0% {
        opacity: 0;
        transform: translate3d(0, 15px, 0);
    }

    100% {
        opacity: 1;
        transform: translateZ(0)
    }
}


.has-activeNavPages {
     .fadeInRight {
        &[data-step-animate] {
            -webkit-animation-name: itemFadeInRight;
            animation-name: itemFadeInRight;
            opacity: 0;
            will-change: transform, opacity;
            animation-fill-mode: both;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    
            @for $i from 0 through 100 {
                &[data-step-animate='#{$i}'] {
                    animation-delay: 0.25s + $i * 0.05;
                    animation-duration: .5s;
                }
            }
        }
    }
}

// * ------ Custom AOS Animate ------
[data-aos=hero] {
    opacity: 0;
    will-change: transform, opacity;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);

    &.aos-animate {
        animation-name: heroFade;
        animation-duration: 1s;
        animation-fill-mode: both;
    }

    @for $i from 0 through 100 {
        &[data-aos-order="#{$i}"] {
            animation-delay: 0.15s * $i;
        }
    }
}