// * ------ Home Service Block ------
.serviceBlock {
    padding: 50px 0;

    @include smax-s {
        padding: 30px 0;
    }; 

    &__list {
        @include smin-s {
            @include flex-layout(4, 32px);
        }; 
    }
    &__item {
        .item-icon {
            color: $color-custom-yellow;
            margin-bottom: 20px;

            svg {
                fill: none;
                @include square(20);
            }
        }

        .item-heading {
            margin-top: 0;
            margin-bottom: 9px;
        }

        .item-text {
            margin-bottom: 3px;
        }
    }
}

// * ------ Home Slick Banner ------
.homeSlickBanner {
    overflow: hidden;
    
    &__list {
        &.slick-dotted {
            margin-bottom: 0;
        }

        &:not(.slick-initialized) {
            .homeSlickBanner__item:nth-child(n + 2) {
                display: none;
            } 
        }
    }

    &__item {
        position: relative;
    }

    &__link {
        @include image-padding-bottom(2543, 878);
        display: block;
        min-height: 878px;

        @include smax-s {
            min-height: 659px;
        }
    }

    &__content {
        @include pos($pos: abs, $b: 0, $l: 0);
        padding: 50px 50px 34px;
        max-width: 50%;
        text-align: left;
        background-color: transparent;
        z-index: 11;

        @include smax-s {
            max-width: 100%;
            padding:  16px 16px 7px;
            @include pos($pos: abs, $cb: center-y);
            z-index: 12;
        }
    }
}

// * ------ Home Columns Banner ------
.homeColBanner {
    padding: 50px 0;

    @include smax-m {
        padding: 40px 0;
    }; 

    @include smax-s {
        padding: 30px 0;
    }; 

    &__list {
        @include smin-s {
            @include flex-layout(3, 32px);
        }; 

        .item {
            margin-bottom: 0;
        }
    }

    &__title {
        margin-top: 0;
        margin: 7px;
    }

    &__description {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    &__image {
        margin-bottom: 20px;
    }

    &__content {
        padding-left: 10px;
        padding-right: 10px;
    }

    &__link {
        @include image-padding-bottom(793, 1030);
        display: block;
        
        @include smax-s {
            @include image-padding-bottom(600, 600);
        }; 
    }
}

// * ------ Home Gallery Section ------
.homeHoverBanner {
    position: relative;
    padding-top: 15px;

    &__content {
        @include pos($pos: abs, $cb: center);
        width: 100%;
        z-index: 11;

        @include smax-s {
            position: sticky;
            top: 0;
            left: 0;
            transform: none;
            min-height: 1257px;
            @include flexbox($flex-direction: column, $justify-content: center);
        }; 
    }
    
    --gap: 32px;
    --offset: calc(var(--gap) * -1);

    @include smax-s {
        --gap: 16px;
    }; 

    &__list {
        @include flexcb($cb: center);
        flex-wrap: wrap;
        width: 100%;

        @include smin-s {
            margin: 0 var(--offset);
            margin-top: 10px;
        }

        @include smax-s {
            flex-direction: column;
        }; 
    }

    &__item {
        padding: var(--gap);
    }

    &__title {
        color: $color-custom-white;
        opacity: 0.5;
        transition: opacity .8s cubic-bezier(.215,.61,.355,1);
        text-decoration: none;
        font-size: 37px;
        line-height: 49px;
        letter-spacing: 0;
        white-space: nowrap;

        @include smax-s {
            font-size: 31px;
            line-height: 42px;
        }; 

        &:hover {
            color: $color-custom-white;
            opacity: 1;
        }

        .is-visible & {
            opacity: 1;
        }
    }

    &__imageList {
        position: relative;
        z-index: 1;
        overflow: hidden;

        @include smin-s {
            display: grid;
            height: 100%;
        }
    }

    &__imageItem {
        @include smin-s {
            grid-row-start: 1;
            grid-column-start: 1;
            min-height: 100%;
            width: 100%;
            height: 100%;
            overflow: hidden;
            opacity: 0;
            transform: scale(1.1);
            transition: opacity .8s cubic-bezier(.215,.61,.355,1), transform .8s cubic-bezier(.215,.61,.355,1);

            &.is-visible {
                opacity: 1;
                transform: scale(1);
            }

            @include image-padding-bottom(2543, 988);
            min-height: 988px;
        }

        img {
            @include smax-s {
                width: 100%;
                height: 320px;
                object-fit: cover;
            }; 
        }
    }
}

// * ------ Home Section Account ------
.homeAccount {
    padding: 100px 0;

    @include smax-m {
        padding: 80px 0;
    }; 

    @include smax-s {
        padding: 60px 0;
    }; 

    .mb-16 {
        margin-bottom: 12px;
    }

    .button--icon {
        margin-top: 10px;
        margin-bottom: 0;
    }
}

// * ------ Home Products Block ------
#list-product-detail {
    --outer: 50px;
    --scrollbar-width: 17px;
    
    padding: 32px 0 95px;

    .productCarouselCustom:not(.slick-initialized) {
       .customBlockBanner {
            display: none;
       }
    }

    .customBlockBanner {
        position: relative;
        width: calc((100vw - var(--scrollbar-width) - var(--outer) * 2) * .28);
        margin-left: 50px;

        @include smax-m {
            margin-left: 32px;
        }; 

        @include smax-s {
            margin-left: 16px;
        }; 

        &__link {
            @include image-padding-bottom(540, 540);
            display: block;
        }

        &__content {
            @include abs-full;
            @include flexbox($flex-direction: column, $justify-content: space-between);
            z-index: 11;
            padding: 20px;
        }
    }

    .productCarousel {
        margin: 0;
        overflow: hidden;
    }

    .productCarousel-slide {
        padding: 0;
        margin-right: 32px;

        @include smax-m {
            margin-right: 22px;
        }; 

        @include smax-s {
            margin-right: 16px;
        }; 
    }
}

// * ------ Home Shop The Look ------
.shopLook {
    &__wrapper {
        display: flex;
    }

    &__image {
        --menuHeight: 119px;

        width: 100%;

        @include smin-s {
            position: sticky;
            top: var(--menuHeight);
            flex: 0 0 50%;
            margin: 0 auto;
            height: calc(100vh - var(--menuHeight, 0px));
            overflow: hidden;

            &-container {
                position: relative;
                min-width: 100%;
                min-height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                aspect-ratio: 1.0;
            }

            &-bg {
                @include pos($pos: abs, $t: 0, $l: 0);
                width: 100%;
                height: 100%;
                padding-top: 0;

                img {
                    @include pos($pos: abs, $t: 0, $l: 0);
                    width: 100%;
                    height: 100%;
                    image-rendering: auto;
                }
            }
        }
    }

    &__aside {
        flex: 1 1 50%;
        text-align: left;
        padding: 35px 0;
        overflow: hidden;

        @include smin-s {
            padding: 60px 50px;
            align-self: center;
            display: flex;

            .productsByListId2 {
                .productCarousel-slide {
                    width: 50%;
                    margin-bottom: 32px;
                }
            }
        };

        @include smin-xl {
            padding: 104px 50px;
        };

        @include smax-s {
            @include pos($pos: fixed, $t: 0, $l: 0);
            z-index: 101;
            width: 100vw;
            height: 100%;
            pointer-events: none;
            opacity: 0;
            visibility: hidden;
            overflow: hidden;
            transition: opacity .5s;

            &.is-open {
                opacity: 1;
                pointer-events: initial;
                visibility: visible;

                > .productsByListId2 {
                    transform: translateZ(0);
                }
            }

            .productsByListId2 {
                @include pos($pos: abs, $b: 0, $r: 0);
                top: auto;
                z-index: 2;
                overflow-x: hidden;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
                max-width: 100%;
                max-height: 100%;
                width: 100%;
                padding: 0 16px;
                border-radius: 10px 10px 0 0;
                background-color: #ffffff;
                color: #212121;
                transform: translate3d(0, 100%, 0);
                will-change: transform;
                transition: transform .5s;
            }
        };
    }

    &__title {
        margin: 0;
        margin-bottom: 32px;
        font-size: 11px;
        font-weight: 300;
        letter-spacing: 1.32px;

        @include smax-s {
            text-align: left;
            margin-bottom: 0;
            padding: 16px 0;
        }; 
    }

    &__overlay {
       @include smax-s {
            @include pos($pos: abs, $t: 0, $l: 0);
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            opacity: 1;
       }; 
    }

    &__close {
        @include smax-s {
            @include pos($pos: abs, $t: 22px, $r: 28px);
            z-index: 2;
            @include flexcb($cb: center);
            padding: 5px;
            color: $color-custom-yellow;
            background: transparent;
            border-radius: 300px;
            font-size: 0;
            text-decoration: none;
            transform: translate3d(0, -50%, 0);
            transition: color .3s ease;

            svg {
                @include square(24);
            }
        }; 
    }

   @include smax-s {
        .productGridCustom {
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            scroll-behavior: auto;
            scroll-snap-type: x mandatory;
            scroll-padding: 16px;
            -webkit-overflow-scrolling: touch;
            padding: 0 0 16px 16px;
            margin: 0;
            scrollbar-width: none;
            margin: 0 -16px;

            .productCarousel-slide {
                min-width: calc(100% - 50px);
                max-width: 80vh;
                margin-right: 16px;
                scroll-snap-align: start;
                padding: 0;
            }
        }
   };

   .look__dots {
        @include pos($pos: abs, $t: 12px, $l: 12px, $b: 11px, $r: 11px);

        .look__dot__button {
            @include pos($pos: abs, $t: var(--dot-top), $l: var(--dot-left));
            @include square(23);
            padding: 0;
            margin-top: -12px;
            margin-left: -12px;
            cursor: pointer;

            .look__dot {
                @include pos($pos: abs, $t: 0, $l: 0);
                z-index: 100;
                width: 100%;
                height: 100%;
                background-color: #ffffff;
                border-radius: 300px;
                @include flexcb($cb: center);

                &::after,
                &::before {
                    @include pos($pos: abs, $t: -6px, $l: -6px);
                    content: "";
                    width: 35px;
                    height: 35px;
                    background-color: inherit;
                    border-radius: inherit;
                    opacity: .3;
                    will-change: transform;
                }

                &::before {
                    opacity: 0;
                }

                &__icon {
                    background-color: $color-custom-yellow;
                    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" stroke-width="1.01" viewBox="0 0 24 24" fill="none" color="%23000000"><path d="M19.26 9.696l1.385 9A2 2 0 0118.67 21H5.33a2 2 0 01-1.977-2.304l1.385-9A2 2 0 016.716 8h10.568a2 2 0 011.977 1.696zM14 5a2 2 0 10-4 0M8.992 15h3m3 0h-3m0 0v-3m0 3v3" stroke="%23000000" stroke-width="1.01" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                    -webkit-mask-size: contain;
                    mask-size: contain;
                    width: 75%;
                    height: 75%;
                    display: inline-block;
                }
            }

            &:hover {
                .look__dot::after {
                    animation: pulseHover 1.5s linear infinite;
                }
            }
        }
    }

    &__image-container {
        position: relative;
    }

    &__actions {
        @include pos($pos: abs, $b: 0, $l: 0);
        width: 100%;
        padding: 16px;

        .text {
            background: linear-gradient(to right, currentColor, currentColor);
            background-size: 100% 1px;
            background-position: 50% 86%;
            background-repeat: no-repeat;
            transition: color .25s ease-in, background-size .25s ease-in;
            line-height: 1;
            padding: 5px 0;
        }

        .icon {
            margin-right: 10px;
            @include square(20);
        }

        svg {
            fill: none;
        }
    }
}

// * ------ Home Section 2 Banners ------
.sectionBannerCol {
    &__list {
        @include flex-layout(2, 0px);

        @include smax-s {
            @include flex-layout(1, 0px);
        }
    }

    &__item {
        position: relative;
    }

    &__link {
        @include image-padding-bottom(1272, 878);
        min-height: 878px;
        display: block;

        @include smax-s {
            min-height: 659px;
        }
    }

    &__content {
        @include pos($pos: abs, $b: 0, $l: 0);
        padding: 50px 50px 34px;
        text-align: left;
        background-color: transparent;
        z-index: 11;

        @include smax-s {
            max-width: 100%;
            padding:  16px 16px 7px;
            z-index: 12;
        }
    }
}

// * ------ Home Testimonial ------
.homeTestimonial {
    --inner: 40px;
    overflow: hidden;

    @include smax-s {
        --inner: 30px;
    };

    &__heading {
        padding: 62px 0 26px;

        @include smax-m {
            padding: 50px 20px;
        }; 

        @include smax-s {
            padding: 37px 16px;
        }; 
    }

    &__list {
        .slick-list {
            padding: 22px 50px 50px;
            margin: 0 -50px;
        }

        &:not(.slick-initialized) {
            @include flex-layout(4, 32px);

            .homeTestimonial__item:nth-child(n + 5) {
                display: none;
            } 
        }
        
        .slick-track {
            display: flex !important;
        }
        
        .slick-slide {
            height: inherit !important;
        }
    }

    .review {
        &__content {

            color: $color-custom-yellow;
            position: relative;
            padding: var(--inner) 0;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            blockquote {
                font-family: $header-font-family;
                font-weight: 400;
                font-style: normal;
                border: 0;
                margin: 0 0 48px;
                padding: 0;
                line-height: 1.24;

                @include smax-m {
                    margin: 0 0 32px;
                }; 

                @include smax-s {
                    margin: 0 0 28px;
                }; 

                p {
                    margin-bottom: 0;
                }
            }

            .review__quote {
                position: absolute;
                z-index: 1;
                width: var(--inner);
                height: var(--inner);
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: var(--inner);
                overflow: visible;
                font-size: 58px;
                line-height: 40px;

                &--open {
                    left: 0;
                    top: calc(var(--inner) / -2);
                    transform: translate(-8px, 16px);
                }

                &--close {
                    bottom: calc(var(--inner) / -2);
                    right: 0;
                    transform: translate(10px, 14px);
                }
            }
        }

        &__author {
            margin: 28.5px 0 0;

            @include smax-s {
                margin-top: 24px;
            }; 

            &__name {
                font-size: 14.4px;
                font-weight: 300;
            }

            &__subheading {
                font-size: 12px;
                font-weight: 300;
                letter-spacing: 0;
                font-style: italic;
                text-transform: uppercase;
            }
        }
    }
}

// * ------ Home Full Banner ------
.homeFullBanner {
    &__item {
        position: relative;
    }

    &__link {
        @include image-padding-bottom(2543, 878);
        display: block;
        min-height: 878px;

        @include smax-s {
            min-height: 659px;
        }
    }

    &__content {
        @include pos($pos: abs, $b: 0, $l: 0);
        padding: 50px 50px 34px;
        text-align: left;
        background-color: transparent;
        z-index: 11;

        @include smax-s {
            max-width: 100%;
            padding:  16px 16px 7px;
            z-index: 12;
        }
    }
    &__button {
        margin-top: 8px;
    }
}


.sectionFuturePost {
    padding-top: 29px;
    padding-bottom: 32px;

    .postItem {
        @include flex-layout(2, 0px);

        @include smax-s {
            @include flex-layout(1, 0px);
            flex-direction: column-reverse;
        };

        &__subHeading {
            padding-left: 5px;
            padding-bottom: 5.5px;
            margin: 0 0 auto;
            font-size: 11px;
            font-weight: 300;
            letter-spacing: 1.32px;
            margin-bottom: 29px;

            @include smax-s {
                margin-bottom: 0;
            }; 
        }

        &__content {
            padding: 84px 104px;

            @include smax-m {
                padding: 70px 60px;
            }; 

            @include smax-s {
                padding: 40px 16px;
            };

            .title {
                padding-top: 29px;
                margin: 0;
                margin-bottom: 22px;

                @include smax-s {
                    padding-top: 0;
                    margin-bottom: 18px;
                }; 

                > a {
                    text-decoration: none;
                    font-size: 44px;
                    line-height: 52px;
                    letter-spacing: 0;
                    color: $color-custom-black;
                    
                    @include smax-s {
                        font-size: 37px;
                        line-height: 44px;
                    }; 
                }
            }

            .desc {
                margin: 0;
                padding: 8px 0;
                font-weight: 300;

                @include smax-s {
                    font-size: 14px;
                    padding: 0;
                }; 
            }

            .readMore {
                margin-top: 16px;
                display: inline-block;
                font-size: 13px;
                line-height: 2;
                letter-spacing: 1.3px;
                padding: 0;

                @include smax-s {
                    margin-top: 14px;
                }; 
            }
        }

        &__image {
            @include image-padding-bottom(1270, 550);
            min-height: 550px;
            display: block;
        }
    }
}

.homeInstagram {
    padding: 50px 0;
}

// * ------ Global Banner Layout ------
.globalBanner {
    position: relative;

    &__img {
        position: relative;
        min-height: var(--minHeightDT);

        @include smax-s {
            min-height: var(--minHeightMB);
        }; 

        &::after {
            content: "";
            display: block;
            height: 0;
            padding-bottom: calc(var(--bannerHeight)/var(--bannerWidth) * 100%);
            width: 100%;
        }

        img {
            @include pos($pos: abs, $cb: full);
            object-fit: cover;
        }
    }

    &__content {
        @include pos($pos: abs, $cb: center);
        z-index: 99;
        width: 100%;
        max-width: 50%;
        padding: 50px 50px 34px;

        @include smax-m {
            padding: 30px 30px 15px;
        }; 

        @include smax-s {
            max-width: 100%;
        }; 
    }

    &__title {
        margin-top: 0;
        margin-bottom: 16px;

        .aboutUsTopBanner & {
            font-size: 37px;
            line-height: 44px;

            @include smax-s {
                font-size: 31px;
                line-height: 37px;
            }; 
        }

        .aboutUsBottomBanner & {
            font-size: 52px;
            line-height: 62px;

            @include smax-s {
                font-size: 42px;
                line-height: 51px;
            }; 
        }
    }

    &__desc {
        margin-bottom: 16px;
        
        @include smax-s {
            font-size: 19px;
            line-height: normal;
        }; 
    }
}

// * ------ Section 2 Columns layout ------
.twoColSection {
    &__wrapper {
        display: flex;

        @include smax-s {
            flex-wrap: wrap;
        };

        &.layout-reverse {
            @include smin-s {
                flex-direction: row-reverse;
            }; 
        }
    }

    &__banner {
        flex: 0 0 50%;

        @include smax-s {
            flex: 0 1 100%;
        }; 
    }

    &__image {
        @include image-padding-bottom(1296,1944);
        min-height: 1317px;

        @include smax-s {
            @include image-padding-bottom(750,659);
            min-height: 659px;
        }; 
    }

    &__aside {
        flex-basis: 38%;
        padding: 50px;
        margin: 0 auto;
        display: flex;

        @include smax-m {
            flex-basis: 45%;
            padding: 30px;
        }; 

        @include smax-s {
            flex-basis: 100%;
            padding: 16px;
        }; 
    }

    &__content {
        @include flexcb($cb: flex-center);
        flex-direction: column;
        align-items: flex-start;
        padding: 50px 50px 34px;

        @include smax-m {
            padding: 30px 30px 15px;
        }; 

        @include smax-s {
            padding: 16px 16px 7px;
        }; 
    }

    &__title {
        margin-top: 0;
        margin-bottom: 16px;
    }
}