// * ------ Home Service Block ------
.serviceBlock {
    padding: 50px 0;

    @include smax-s {
        padding: 30px 0;
    }; 

    &__list {
        @include smin-s {
            @include flex-layout(4, 32px);
        }; 
    }
    &__item {
        .item-icon {
            color: $color-custom-yellow;
            margin-bottom: 20px;

            svg {
                fill: none;
                @include square(20);
            }
        }

        .item-heading {
            margin-top: 0;
            margin-bottom: 9px;
        }
    }
}

// * ------ Home Slick Banner ------
.homeSlickBanner {
    overflow: hidden;
    
    &__list {
        &:not(.slick-initialized) {
            .homeSlickBanner__item:nth-child(n + 2) {
                display: none;
            } 
        }
    }

    &__item {
        position: relative;
    }

    &__link {
        @include image-padding-bottom(2543, 878);
        display: block;
        min-height: 878px;

        @include smax-s {
            min-height: 659px;
        }
    }

    &__content {
        @include pos($pos: abs, $b: 0, $l: 0);
        padding: 50px 50px 34px;
        max-width: 50%;
        text-align: left;
        background-color: transparent;
        z-index: 11;

        @include smax-s {
            max-width: 100%;
            padding:  16px 16px 7px;
            @include pos($pos: abs, $cb: center-y);
            z-index: 12;
        }
    }
}

// * ------ Home Columns Banner ------
.homeColBanner {
    &__list {
        @include smin-s {
            @include flex-layout(3, 32px);
        }; 
    }

    &__title {
        margin-top: 0;
        margin: 7px;
    }

    &__description {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    &__image {
        margin-bottom: 20px;
    }

    &__content {
        padding-left: 10px;
        padding-right: 10px;
    }

    &__link {
        @include image-padding-bottom(793, 1030);
    }
}

// * ------ Home Gallery Section ------
.homeHoverBanner {
    position: relative;

    &__content {
        @include pos($pos: abs, $cb: center);
        width: 100%;
        z-index: 11;

        @include smax-s {
            position: sticky;
            top: 0;
            left: 0;
            transform: none;
            min-height: 1257px;
            @include flexbox($flex-direction: column, $justify-content: center);
        }; 
    }
    
    --gap: 32px;
    --offset: calc(var(--gap) * -1);

    @include smax-s {
        --gap: 16px;
    }; 

    &__list {
        @include flexcb($cb: center);
        flex-wrap: wrap;
        width: 100%;

        @include smin-s {
            margin: 0 --offset;
        }

        @include smax-s {
            flex-direction: column;
        }; 
    }

    &__item {
        padding: var(--gap);
    }

    &__title {
        color: $color-custom-white;
        opacity: 0.5;
        transition: opacity .8s cubic-bezier(.215,.61,.355,1);
        text-decoration: none;
        font-size: 37px;
        line-height: 49px;
        letter-spacing: 0;
        white-space: nowrap;

        @include smax-s {
            font-size: 31px;
            line-height: 42px;
        }; 

        &:hover {
            color: $color-custom-white;
            opacity: 1;
        }

        .is-visible & {
            opacity: 1;
        }
    }

    &__imageList {
        position: relative;
        z-index: 1;
        overflow: hidden;

        @include smin-s {
            display: grid;
            height: 100%;
        }
    }

    &__imageItem {
        @include smin-s {
            grid-row-start: 1;
            grid-column-start: 1;
            min-height: 100%;
            width: 100%;
            height: 100%;
            overflow: hidden;
            opacity: 0;
            transform: scale(1.1);
            transition: opacity .8s cubic-bezier(.215,.61,.355,1), transform .8s cubic-bezier(.215,.61,.355,1);

            &.is-visible {
                opacity: 1;
                transform: scale(1);
            }

            @include image-padding-bottom(2543, 1080);
            min-height: 1080px;
        }
    }
}

// * ------ Home Section Account ------
.homeAccount {
    padding: 100px 0;

    @include smax-m {
        padding: 80px 0;
    }; 

    @include smax-s {
        padding: 60px 0;
    }; 
}

// * ------ Home Products Block ------
#list-product-detail {
    --outer: 50px;
    --scrollbar-width: 17px;
    
    padding: 32px 0 95px;

    .productCarouselCustom:not(.slick-initialized) {
       .customBlockBanner {
            display: none;
       }
    }

    .customBlockBanner {
        position: relative;
        width: calc((100vw - var(--scrollbar-width) - var(--outer) * 2) * .28);

        &__link {
            @include image-padding-bottom(540, 540);
        }

        &__content {
            @include abs-full;
            @include flexbox($flex-direction: column, $justify-content: space-between);
            z-index: 11;
            padding: 20px;
        }
    }

    .productCarousel {
        margin: 0;
        overflow: hidden;
    }

    .productCarousel-slide {
        padding: 0;
        margin-left: 32px;
    }
}

// * ------ Home Shop The Look ------
.shopLook {
    &__wrapper {
        display: flex;
    }

    &__image {
        --menuHeight: 119px;

        width: 100%;

        @include smin-s {
            position: sticky;
            top: var(--menuHeight);
            flex: 0 0 50%;
            margin: 0 auto;
            height: calc(100vh - var(--menuHeight, 0px));
            overflow: hidden;

            &-container {
                position: relative;
                min-width: 100%;
                min-height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                aspect-ratio: 1.0;
            }

            &-bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding-top: 0;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    image-rendering: auto;
                }
            }
        }
    }

    &__aside {
        flex: 1 1 50%;
        text-align: left;
        padding: 35px 0;
        overflow: hidden;

        @include smin-s {
            padding: 60px 50px;
            align-self: center;
            display: flex;

            .productsByListId2 {
                .productCarousel-slide {
                    width: 50%;
                    margin-bottom: 32px;
                }
            }
        };

        @include smin-xl {
            padding: 104px 50px;
        };

        @include smax-s {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 5600;
            width: 100vw;
            height: 100%;
            pointer-events: none;
            opacity: 0;
            visibility: hidden;
            overflow: hidden;
            transition: opacity .5s;

            &.is-open {
                opacity: 1;
                pointer-events: initial;
                visibility: visible;

                > .productsByListId2 {
                    transform: translateZ(0);
                }
            }

            .productsByListId2 {
                position: absolute;
                right: 0;
                bottom: 0;
                top: auto;
                z-index: 2;
                overflow-x: hidden;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
                max-width: 100%;
                max-height: 100%;
                width: 100%;
                padding: 0 16px;
                border-radius: 10px 10px 0 0;
                background-color: #ffffff;
                color: #212121;
                transform: translate3d(0, 100%, 0);
                will-change: transform;
                transition: transform .5s;
            }
        };
    }

    &__title {
        margin: 0;
        margin-bottom: 32px;
        font-size: 11px;
        font-weight: 300;
        letter-spacing: 1.32px;

        @include smax-s {
            text-align: left;
            margin-bottom: 0;
            padding: 16px 0;
        }; 
    }

    &__overlay {
       @include smax-s {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            opacity: 1;
       }; 
    }

    &__close {
        @include smax-s {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            color: $color-custom-yellow;
            background: transparent;
            border-radius: 300px;
            font-size: 0;
            text-decoration: none;
            transform: translate3d(0, -50%, 0);
            transition: color .3s ease;
            right: 28px;
            top: 22px;
            z-index: 2;

            svg {
                @include square(24);
            }
        }; 
    }

   @include smax-s {
        .productGridCustom {
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            scroll-behavior: auto;
            scroll-snap-type: x mandatory;
            scroll-padding: 16px;
            -webkit-overflow-scrolling: touch;
            padding: 0 0 16px 16px;
            margin: 0;
            scrollbar-width: none;
            margin: 0 -16px;

            .productCarousel-slide {
                min-width: calc(100% - 50px);
                max-width: 80vh;
                margin-right: 16px;
                scroll-snap-align: start;
                padding: 0;
            }
        }
   };

   .look__dots {
        position: absolute;
        top: 12px;
        left: 12px;
        bottom: 11px;
        right: 11px;

        .look__dot__button {
            position: absolute;
            width: 23px;
            height: 23px;
            padding: 0;
            margin-top: -12px;
            margin-left: -12px;
            top: var(--dot-top);
            left: var(--dot-left);
            cursor: pointer;

            .look__dot {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 100;
                width: 100%;
                height: 100%;
                background-color: #ffffff;
                border-radius: 300px;
                display: flex;
                align-items: center;
                justify-content: center;

                &::after,
                &::before {
                    content: "";
                    width: 35px;
                    height: 35px;
                    background-color: inherit;
                    border-radius: inherit;
                    opacity: .3;
                    position: absolute;
                    top: -6px;
                    left: -6px;
                    will-change: transform;
                }

                &::before {
                    opacity: 0;
                }

                &__icon {
                    background-color: $color-custom-yellow;
                    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" stroke-width="1.01" viewBox="0 0 24 24" fill="none" color="%23000000"><path d="M19.26 9.696l1.385 9A2 2 0 0118.67 21H5.33a2 2 0 01-1.977-2.304l1.385-9A2 2 0 016.716 8h10.568a2 2 0 011.977 1.696zM14 5a2 2 0 10-4 0M8.992 15h3m3 0h-3m0 0v-3m0 3v3" stroke="%23000000" stroke-width="1.01" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                    -webkit-mask-size: contain;
                    mask-size: contain;
                    width: 75%;
                    height: 75%;
                    display: inline-block;
                }
            }

            &:hover {
                .look__dot::after {
                    animation: pulseHover 1.5s linear infinite;
                }
            }
        }
    }

    &__image-container {
        position: relative;
    }

    &__actions {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 16px;

        .text {
            background: linear-gradient(to right, currentColor, currentColor);
            background-size: 100% 1px;
            background-position: 50% 86%;
            background-repeat: no-repeat;
            transition: color .25s ease-in, background-size .25s ease-in;
            line-height: 1;
            padding: 5px 0;
        }

        .icon {
            margin-right: 10px;
            @include square(20);
        }

        svg {
            fill: none;
        }
    }
}