/* ---------------- Sidebar ------------------- */
.background-overlay {
    position: fixed;
    z-index: 102;
    visibility: hidden;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    opacity: 0;
    background: rgba($color: #000000, $alpha: 0.4);
    transition: opacity .3s ease .1s, visibility 0s linear .4s;

    .openSearchDropdown2 &,
    .has-activeNavPages &,
    .openProductListingSidebar &,
    .openSearchMobile &,
    .openAuthSidebar &{
        opacity: 1;
        visibility: visible;
        transition-duration: .3s, 0s;
        transition-delay: .1s, 0s;
    }

}

.openSearchDropdown2 {
    overflow: hidden;
    padding-inline-end: var(--scrollbar-width);
}

.openProductListingSidebar {
    @include smax-s {
        overflow: hidden;
        padding-inline-end: var(--scrollbar-width);
    };

    .background-overlay {
        @include smin-s {
            display: none;
        }
    }
}

.openSearchMobile {
    overflow: hidden;

    #custom-search-mobile {
        left: 0;
        z-index: 105;
    }
}

/* ----------------- Load Animation ----------------------*/
.no-js .custom-animation {
    transform: translatey(0);
}

.custom-animation {
    transform: translatey(100px);
}

.js .custom-animation {
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transform: translatey(100px);
    opacity: 0;


    @for $i from 0 through 100 {
        &[data-step-animate="#{$i}"] {
            transition-delay: 0.1s + $i * 0.02;
            transition-duration: 0.3s + $i * 0.1;
        }
    }
}


/* ------------------ Hover Link ------------------------- */
.hover-link {
    position: relative;
    text-decoration: none;
    width: fit-content !important;

    span {
        transition: color .25s cubic-bezier(.215,.61,.355,1);
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        background-color: currentColor;
        transform: scaleX(0);
        will-change: transform;
        transition: transform .25s cubic-bezier(.215,.61,.355,1);
    }
        
    &:hover::before {
        transform: scaleX(1);
    }
}

.hover-link-2 {
    --link: currentColor;
    --link-hover: currentColor;
    display: inline;
    text-decoration: none;
    cursor: pointer;
    padding: 0 0 5px;
    color: var(--link);
    background: linear-gradient(to right, currentColor, currentColor);
    background-size: 100% 1px;
    background-position: 50% 86%;
    background-repeat: no-repeat;
    transition: color .25s ease-in, background-size .25s ease-in;

    &:hover {
        color: currentColor;
        background-size: 0% 1px;
    }
}

//
// Skeleton Loader
// -----------------------------------------------------------------------------
.skeleton-loader {
    background: #f4f2f0;
    background: linear-gradient(98deg, #f4f2f0 16%, #ffffff 32%, #f4f2f0 48%);
    background-size: 200% 100%;
    animation: skeleton-loading 4s infinite linear;
}


// CSS for product skeleton
.productSkeleton {
    &__list {
        display: flex;
        @include flex-layout(1, 0px);
        
        @include smin-xs {
            @include flex-layout(2, 20px);
        }

        @include smin-s {
            @include flex-layout(3, 20px);
        }

        @include smin-m {
            @include flex-layout(4, 32px);
        }

        &.no-wrap {
            flex-wrap: nowrap;
            overflow: hidden;

            .productSkeleton__item {
                min-width: 27%;

                @include smax-m {
                    min-width: 37%
                }; 

                @include smax-s {
                    min-width: 70%
                };
            }
        }
    }

    &__item {
        padding: 15px;

        @include smax-l {
            &:nth-child(n + 5) {
                display: none;
            }
        }

        @include smax-m {
            &:nth-child(n + 4) {
                display: none;
            }
        }

        @include smax-s {
            &:nth-child(n + 3) {
                display: none;
            }
        }

        @include smax-xs {
            &:nth-child(n + 2) {
                display: none;
            }
        }
    }

    &__image {
        width: 100%;
        height: 230px;
    }

    &__title {
        height: 34px;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    &__price {
        height: 39px;
        margin-bottom: 30px;
    }

    &__rating {
        height: 24px;
        width: 85px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* ----------------- Custom Scrollbar ----------------- */
.customScrollbar {
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
        background: $color-custom-yellow;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555555;
    }
}

.wrapper {
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    
    @include smin-m {
        max-width: 80vw;
    }; 

    @include smax-s {
        padding-left: 30px;
        padding-right: 30px;
    }; 

    @include smax-xs {
        padding-left: 16px;
        padding-right: 16px;
    }; 
}

.image-loader {
    overflow: hidden;

    img {
        transform: scale(1.06);
        transform-origin: bottom center;
        transition: transform .75s cubic-bezier(.215,.61,.355,1);
        will-change: transform;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .animated &,
    .slick-active & {
        img {
            transform: scale(1);
            transition: transform 1.5s cubic-bezier(.215,.61,.355,1);
            transition-delay: 200ms;
        }

        @for $i from 0 through 100 {
            &[data-step-animate='#{$i}'] {
                img {
                    transition-delay: 0.15s + $i * 0.15;
                    transition-duration: 0.8s;
                }
            }
        }
    }
}

.image-overlay {
    --bg: #000000;
    --overlay-opacity: 0.25;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: var(--bg);
    opacity: var(--overlay-opacity);
}

.custom-mobile-slider {
    --gap: 16px;
    --offset: calc(var(--gap) * -1);

    @include smax-s {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        gap: 0;
        margin: 0 var(--offset);
        padding-left: var(--gap);
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        scroll-padding: var(--gap);
        scrollbar-width: none;

        .item {
            padding: 0;
            flex: 0 0 auto;
            width: calc(100% - 50px);
            margin: 0 var(--gap) 0 0;
            scroll-snap-align: start;
        }
    }; 
}

.heading-font {
    font-family: stencilFontFamily("headings-font");
}

.heading-size {
    &-4 {
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0;
    
        @include smax-s {
            font-size: 18px;
            line-height: 22px
        }; 
    }

    &-7 {
        font-size: 37px;
        line-height: 44px;
        letter-spacing: 0;

        @include smax-s {
            font-size: 31px;
            line-height: 37px;
        }; 
    }

    &-8 {
        font-size: 44px;
        line-height: 52px;
        letter-spacing: 0;

        @include smax-s {
            font-size: 37px;
            line-height: 44px;
        }
    }

    &-9 {
        font-size: 52px;
        line-height: 62px;
        letter-spacing: 0;

        @include smax-s {
            font-size: 43px;
            line-height: 51px;
        }; 
    }

    &-12 {
        font-size: 71px;
        line-height: 86px;
        letter-spacing: 0;

        @include smax-s {
            font-size: 54px;
            line-height: 64px;
        }; 
    }
}

.body-size {
    &-3 {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0;
    
        @include smax-s {
            font-size: 14px;
            line-height: 21px;
        }; 
    }

    &-4 {
        font-size: 19px;
        font-weight: 300;
        line-height: 23px;
        letter-spacing: 0;

        @include smax-s {
            font-size: 16px;
            line-height: 19.2px;
        }; 
    }

    &-5 {
        font-size: 23px;
        line-height: 29px;

        @include smax-s {
            font-size: 21px;
            line-height: 26px;
        }; 
    }
}

.hero {
    &__subheading {
        margin-bottom: 16px;
        margin-top: 0;

        @include smax-s {
            margin-bottom: 10px;
        }; 
    }

    &__title {
        margin-bottom: 16px;
        margin-top: 0;

        @include smax-s {
            margin-bottom: 10px;
        }; 
    }

    &__rte {
        margin-bottom: 16px;
        margin-top: 0;

        @include smax-s {
            margin-bottom: 10px;
        }; 
    }
}

.field {
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgba(33, 33, 33, 0.35);
    padding: 1em 0;
    border-radius: 0;
    color: $color-custom-black;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.slick-gap {
    &-32 {
        margin: 0 -16px;

        .slick-slide {
            padding: 0 16px;
        }
    }
}


.hidden {
    display: none;
    visibility: hidden;
}

.custom-loader {
    position: relative;
    height: 4px;
    display: block;
    background-color: rgba(203, 160, 82, 0.05);
    border-radius: 2px;
    overflow: hidden;
    width: 150px;

    .loader-progress {
        background-color: $color-custom-yellow;

        &::before {
            content: "";
            position: absolute;
            background-color: inherit;
            top: 0;
            left: -35%;
            width: 100%;
            bottom: 0;
            will-change: transform;
            animation: indeterminate 2.1s cubic-bezier(.65,.815,.735,.395) infinite;
        }

        &::after {
            content: "";
            position: absolute;
            background-color: inherit;
            top: 0;
            left: -200%;
            width: 100%;
            bottom: 0;
            will-change: transform;
            animation: indeterminate-short 2.1s cubic-bezier(.165,.84,.44,1) infinite;
            animation-delay: 1.15s;
        }
    }
}