:root {
    --duration: 0.6s;
    --collection-nav-height: 58px;
    --menu-height: 118px;
    --border-width: 0;
    --full-screen: 1317px;
    --sidebar-width: 288px;
    --outer: 50px;
    --gutter: 32px;
    --COLOR-BORDER-HAIRLINE: #f7f7f7;
    --link: #cba052;
    --RADIUS: 300px;
    --ICON-STROKE-WIDTH: 1px;
    --COLOR-BG: #ffffff;
    --COLOR-PRIMARY: #cba052;
    --COLOR-TEXT-LIGHT: #646464;
    --text: #212121;
    --RADIUS: 300px;
    --inner: 15px;
    --bg-accent: #f4f2f0;
    --FREE-SHIPPING-GRADIENT: linear-gradient(270deg, rgba(203, 160, 82, 1), rgba(249, 208, 163, 1) 100%);

    @include smax-m {
        --outer: 30px;
    }; 

    @include smax-s {
        --outer: 16px;
    };
}

// Header Sticky
// -----------------------------------------------------------------------------
.header {
    &.is-sticky {
        position: sticky;
        top: 0;
        z-index: 99;
        width: 100%;
        padding: 0;
        animation-duration: 0.25s;
    }
}

// * ------ Toggle Popout Product Listing Page ------
.popout__toggle {
    .popout__toggleable-text {
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        line-height: 10px;
        text-align: center;
        vertical-align: middle;
        color: $color-custom-black;
        white-space: nowrap;
        font-weight: 300;

        @include smax-s { 
            font-size: 9px;
            line-height: 9px;
            letter-spacing: 1.05px;
        }; 

        @include smin-s {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: start;

            .popout__expanded-show, 
            .popout__expanded-hide {
                transition: opacity .25s ease-in-out, visibility .25s;
                grid-row-start: 1;
                grid-column-start: 1;
                min-height: 100%;
            }
        }; 

        .filter-count {
            margin-left: 4px;
        }
    }

    @include smin-s {
        &[aria-expanded=true] .popout__expanded-show,
        &[aria-expanded=false] .popout__expanded-hide {
            opacity: 0;
            visibility: hidden;
        }

        &[aria-expanded=false] .popout__expanded-show, 
        &[aria-expanded=true] .popout__expanded-hide {
            opacity: 1;
            visibility: visible;
        }
    };

    @include smax-s {
        .popout__expanded-hide {
            display: none;
        }
    }; 

    .icon-filter {
        display: inline-block;
        @include square(14);
        vertical-align: middle;
        fill: none;
        stroke-width: 1px;
        stroke: currentColor;
        margin: -5px 7px -5px 0;
        transition: transform .3s cubic-bezier(.215,.61,.355,1);
    }

    .icon-nav-arrow-down {
        @include square(16);
        transition: transform .3s ease;
        margin-left: 4px;
        fill: none;
    }

    &[aria-expanded=true] .icon-nav-arrow-down {
        transform: rotate(180deg);
    }
}

// * ------ Dropdown Effect Show ------
.has-effect-dropdown {
    position: absolute;
    background-color: var(--COLOR-BG);
    border: 1px solid var(--COLOR-BORDER-HAIRLINE);
    bottom: 100%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    margin: 0;
    padding: 10px 0;
    max-width: 100vw;
    min-height: 30px;
    z-index: 100;
    list-style-type: none;
    pointer-events: none;
    max-height: 90vh;
    top: 100%;
    bottom: initial;
    right: 0;
    width: 0;
    min-width: 0;
    margin-top: 1px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: opacity .2s ease, width .2s ease, visibility .2s;

    .is-active & {
        width: 200px;
        transition: opacity .4s ease, width .4s ease, visibility .4s;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

.productListingPage__main {
    position: relative;
    align-items: flex-start;
    display: flex;
    flex-flow: row;

    // * ------ Product Listing Sidebar ------
    .productListingPage__sidebar {
        display: flex;
        flex-direction: column;
        background: var(--COLOR-BG);
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: var(--COLOR-BORDER-HAIRLINE);
        visibility: hidden;
        overflow: hidden;
        position: sticky;
        position: -webkit-sticky;
        top: var(--collection-nav-height);
        height: calc(var(--full-screen) - var(--collection-nav-height));
        min-width: 0;
        margin-right: -2px;
        transition-property: min-width, margin, transform, visibility;
        transition-duration: var(--duration);
        transition-timing-function: cubic-bezier(.215,.61,.355,1);

        @include smin-s {
            width: 0;
        }; 

        @include smax-s {
            position: fixed;
            z-index: 6100;
            top: 0;
            height: 100%;
            transform: translate(-100%);
            max-width: var(--sidebar-width);
            transition: transform var(--duration) cubic-bezier(.215,.61,.355,1), visibility var(--duration);
        }; 
    
        // * ------ has header sticky ------
        --border-width: 0px;
        top: calc(var(--collection-nav-height) + var(--menu-height) - var(--border-width));
        height: calc(var(--full-screen) - var(--collection-nav-height) - var(--menu-height) + var(--border-width));
    
        .openProductListingSidebar & {
            visibility: visible;
            transform: translateZ(0);
            min-width: var(--sidebar-width);
            
            @include smin-s {
                margin-right: calc((var(--outer) - var(--gutter))* -1);
            }; 
        }

        #facetedSearch {
            padding: 15px 0 24px 18px;

            @include smax-m {
                padding: 0;
            }; 
        }

        .facetedSearch-refineFilters {
            &.has-result {
                padding: 20px 32px 0 32px;
            }

            .inlineList { 
                > li {
                    .facetLabel {
                        color: $color-custom-black;
                        display: flex;
                        background-color: #f4f2f0;
                        padding: 8px 7px 8px 14px;
                        margin: 0 7px 7px 0;
                        font-size: 12px;
                        @include flexbox($display: inline-flex, $align-items: center);
                        margin-bottom: 0;

                        .icon {
                            top: 0;
                            margin-left: 4px;
                        }

                        &:hover {
                            .icon {
                                stroke: $color-custom-yellow;
                            }
                        }
                    }
                }
            }
        }

        #facetedSearch-navList {
            padding: 0 31px 20px 32px;
            margin-top: 0;
            max-height: calc(100vh - 200px);
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 4px;
            }
        
            &::-webkit-scrollbar-track {
                background: #f5f5f5;
            }
        
            &::-webkit-scrollbar-thumb {
                background: $color-custom-yellow;
            }
        
            &::-webkit-scrollbar-thumb:hover {
                background: #555555;
            }

            @include smax-m {
                padding: 15px 30px 0;
            }; 

            @include smax-s {
                padding: 16px;
                max-height: calc(100vh - 100px);
            }; 
        }
    }
    
    .productListingPage__products {
        position: relative;
        flex-grow: 1;
        padding: var(--gutter) var(--outer);
    }
}

.collection__sidebar__head {
    position: relative;
    width: 100%;
    padding: 24px 18px;
    border-bottom: 1px solid rgb(244, 242, 240);

    h3 {
        font-size: 14px;
        letter-spacing: 1.68px;
        line-height: 14px;
        text-transform: uppercase;
        color: $color-custom-black;
        font-family: $body-font-family;
        margin: 0;
    }

    .collection__sidebar__close {
        --icon-size: 24px;
        position: absolute;
        top: 50%;
        right: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        color: var(--link);
        background: transparent;
        border-radius: var(--RADIUS);
        font-size: 0;
        text-decoration: none;
        transform: translate3d(0, -50%, 0);
        transition: color .3s ease;

        .icon {
            display: block;
            fill: currentColor;
            transition: transform .3s;
            pointer-events: none;
        }
    }
}

.icon {
    width: var(--icon-size, 20px);
    height: var(--icon-size, 20px);
    vertical-align: middle;
    fill: none;
    stroke-width: var(--ICON-STROKE-WIDTH);
    stroke: currentColor;
}


// * ------ Options On Product Card ------

.customCard__options {
    --swatch-size: 26px;

    position: relative;
    width: fit-content;
    min-height: 35.6px;
    margin: 0 -10px;
    padding: 0;
    font-size: 0;
}

.card-option {
    visibility: hidden;
    opacity: 0;
    min-width: 0;
    width: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    background-color: var(--COLOR-BG);
    transition: opacity .3s ease, visibility .3s;

    &.is-visible {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;

        + .cardSwatch_count {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
    }

    .form-field {
        position: relative;
        margin: -5px;
        padding: 5px;
        width: fit-content;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
        scrollbar-width: none;

        > a {
            --swatch: #ccc;
            --swatch-outline-offset: 3px;
            --swatch-size: 26px;
            cursor: pointer;
            display: inline-block;
            margin: 0 10px 0 0;
            position: relative;
            pointer-events: initial;
            vertical-align: middle;
            border: none;

            .form-option-variant--color {
                width: var(--swatch-size);
                height: var(--swatch-size);
                border-radius: 50%;
                display: inline-block;
                border: none;
            }
        }
    }

    .form-option {
        position: relative;
    }

    .form-option-tooltip {
        display: none;
        font-size: $fontSize-root - 2px;
        font-weight: $fontWeight-normal;
        letter-spacing: $letterSpacing-base;
        line-height: 1;
        color: $color-white;
        text-align: center;
        background: stencilColor('color-textBase');
        position: absolute;
        bottom: -200%;
        left: 50%;
        padding: 4px 7px;
        z-index: 2;
        min-width: 40px;
        transform: translate(-50%, 0);
        margin: 0 0 10px 0;
        white-space: nowrap;
        transition: transform 0.2s linear;

        &:before {
            content: " ";
            position: absolute;
            top: -7px;
            left: 50%;
            height: 0;
            width: 0;
            border-bottom: 7px solid stencilColor('color-textBase');
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            transform: translateX(-50%);
        }
    }

    @media (min-width: 1025px) {
        .form-field {
            .form-option {
                .form-option-tooltip {
                    display: block;
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                    transform: translate(-50%, 8px);
                }

                &:hover {
                    .form-option-tooltip {
                        opacity: 1;
                        visibility: visible;
                        pointer-events: auto;
                        transform: translate(-50%, 0);
                    }
                }
            }
        }
    }
}

.cardSwatch_count {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    padding: 8px 10px;
    font-size: 14px;
    color: #646464;
    font-style: italic;
    transition: opacity .3s ease, visibility .3s;
    cursor: pointer;
}

.cartBar {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99;
    width: 100%;
    height: 80px;
    overflow: hidden;
    background: var(--COLOR-BG);
    box-shadow: 0 0 10px #0003;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: opacity .3s ease, transform .3s ease, visibility 0s linear .3s;

    &.is-visible {
        opacity: 1;
        visibility: visible;
        transform: translateY(calc(var(--cookie-bar-height)* -1));
        transition: opacity .5s ease, transform .5s ease, visibility 0s linear 0s;
    }

    .productSubmit__add {
        position: relative;
        overflow: hidden;
        min-height: 50px;
        height: 50px;
        min-width: 260px;
        padding-left: 35px;
        padding-right: 35px;
        margin: 0;
        line-height: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

// * ------ Calculate Free Shipping ------
.freeShipping {
    &__message {
        padding: 12px var(--inner);
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        padding-top: var(--inner);
        padding-bottom: var(--inner);
        border-bottom: 1px solid var(--border);
        margin: 0;
        font-size: 12px;
        line-height: 1.3;
        transition: max-height .3s, padding .3s, border .3s, opacity .3s, visibility .3s;

        .page-type-cart & {
            padding: 15px 0;
        }
    }

    &__progress {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        height: 8px;
        border-radius: 4px;
        margin-top: 5px;
        overflow: hidden;

        &::-webkit-progress-bar {
            background: var(--bg-accent);
        }

        &::-webkit-progress-value {
            background: var(--FREE-SHIPPING-GRADIENT);
            border-radius: 12px;
            transition: all 0.4s ease-in-out;
        }
    }
}