// =============================================================================
// ACCOUNT
// =============================================================================


// Account layouts
// -----------------------------------------------------------------------------

.account {
    margin-bottom: spacing("single");
}

.account--fixed {
    @include breakpoint("medium") {
        margin: 0 auto;
    }
}

.account--fixedSmall {
    @include breakpoint("medium") {
        margin: 0 auto;
    }
}

.account--fixedLarge {
    @include breakpoint("medium") {
        margin: 0 auto;
    }
}

.account-head {
    margin-bottom: spacing("double");
    text-align: center;

    .alertBox {
        padding-left: spacing("double");
        padding-right: spacing("double");
        text-align: left;
    }
}

.account-body {
    @include grid-row($behavior: "nest");
}

.account-content {
    @include grid-column(12);
}

.account-content--fixed {

    @include breakpoint("medium") {
        width: grid-calc(8, $total-columns);
    }
}

.account-content--fixedSmall {

    @include breakpoint("medium") {
        width: grid-calc(6, $total-columns);
    }
}

.account-sidebar {
    @include grid-column(12);

    @include breakpoint("medium") {
        width: grid-calc(4, $total-columns);

        .account-content--fixedSmall + & {
            float: right;
        }
    }
}


// * ------ Custom Register Form ------
.registerWrapper {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;

    .account-body {
        margin: 0;

        .form-label {
            small {
                float: none;
                margin-top: 0;
            }
        }
    }
}

.customAccount {
    &__wrapper {
        display: grid;
        grid-gap: 32px;
        grid-template-columns: 1fr 3fr;
        align-items: start;

        @include smax-s {
            grid-template-columns: 1fr;
            gap: 16px;
        }; 
    }

    &__left {
        .accountSidebar__title {
            padding: 10px 15px;
            font-weight: $fontWeight-normal;
            margin: 0 0 20px;
            text-align: left;
            min-height: 0;
            position: relative;
            background: #f2f4f0;
            cursor: pointer;

            &::before {
                top: 50%;
                right: 25px;
                z-index: 2;
                content: '';
                width: 2px;
                height: 12px;
                position: absolute;
                -webkit-transition: all .4s ease;
                transition: all .4s ease;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                background-color: $color-textBase;
            }
    
            &::after {
                top: 50%;
                right: 20px;
                z-index: 2;
                content: '';
                width: 12px;
                height: 2px;
                position: absolute;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                background-color: $color-textBase;
            }
    
            &.is-active {
                &::before {
                    transform: translateY(-50%) rotate(90deg);
                }
            }

            > a {
                text-decoration: none;
            }
        }
        
        .accountSidebar__content {
            @include smax-s {
                display: none;
            }; 
        }
    }

    &__right {
        .account--fixed,
        .account--fixedLarge {
            width: 100%;
        }

        .page-heading {
            line-height: 1.2;
            margin: 22px 0 !important;
        }
    }   
}