<div class="custom-global-block" data-image-load="{{cdn 'img/loading.svg'}}" data-store-hash-image="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/">
    <!-- Sidebar -->
    {{> components/custom/sidebar/custom-sidebar }}

    <!-- Mega Menu -->
    {{> components/custom/header/custom-megamenu }}
</div>

<div class="tooltip-default" style="--tooltip-top: 448.28125px;">
    <div class="tooltip-default__arrow" style="left: 1202px;"></div>
    <div class="tooltip-default__inner" style="transform: translateX(1170px);">
        <div class="tooltip-default__text">Yellow</div>
    </div>
</div>