<section class="homeSlickBanner">
    <div class="homeSlickBanner__list section-slick" data-section-load="slick-slider" data-slick-options='{
        "autoplay": true, 
        "autoplaySpeed": 2000, 
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "arrows": true,
        "fade": true,
        "dots": true,
        "infinite": true
    }'>
        <div class="homeSlickBanner__item">
            <div class="image-overlay"></div>
            <div class="homeSlickBanner__image">
                <a href="{{theme_settings.home_banner_carousel_1_link}}" class="homeSlickBanner__link image-loader">
                    <img class="lazyload" src="" data-src="/product_images/uploaded_images/{{theme_settings.home_banner_carousel_1_img}}" alt="{{theme_settings.home_banner_carousel_1_title}}">
                </a>
            </div>

            <div class="homeSlickBanner__content">
                <h2 class="homeSlickBanner__title heading-size-12 text-white mt-0 mb-16 mb-10-mobile" data-aos="hero" data-aos-order="2">
                    {{theme_settings.home_banner_carousel_1_title}}
                </h2>

                <p class="homeSlickBanner__description h5--body body-size-4 text-white mb-16 mb-10-mobile" data-aos="hero" data-aos-order="3">
                    {{theme_settings.home_banner_carousel_1_text}}
                </p>

                <a href="{{theme_settings.home_banner_carousel_1_link}}" class="homeSlickBanner__button button" data-aos="hero" data-aos-order="4">
                    {{theme_settings.home_banner_carousel_1_button}}
                    <span class="icon icon--arrow-right">
                        <svg><use xlink:href="#icon-arrow-right"></use></svg>
                    </span>
                </a>
                
            </div>
        </div>

        <div class="homeSlickBanner__item">
            <div class="image-overlay"></div>
            <div class="homeSlickBanner__image">
                <a href="{{theme_settings.home_banner_carousel_2_link}}" class="homeSlickBanner__link image-loader">
                    <img class="lazyload" src="" data-src="/product_images/uploaded_images/{{theme_settings.home_banner_carousel_2_img}}" alt="{{theme_settings.home_banner_carousel_2_title}}">
                </a>
            </div>

            <div class="homeSlickBanner__content">
                <h2 class="homeSlickBanner__title heading-size-12 text-white mt-0 mb-16 mb-10-mobile" data-aos="hero" data-aos-order="2">
                    {{theme_settings.home_banner_carousel_2_title}}
                </h2>

                <p class="homeSlickBanner__description h5--body body-size-4 text-white mb-16 mb-10-mobile" data-aos="hero" data-aos-order="3">
                    {{theme_settings.home_banner_carousel_2_text}}
                </p>

                <a href="{{theme_settings.home_banner_carousel_2_link}}" class="homeSlickBanner__button button" data-aos="hero" data-aos-order="4">
                    {{theme_settings.home_banner_carousel_2_button}}
                    <span class="icon icon--arrow-right">
                        <svg><use xlink:href="#icon-arrow-right"></use></svg>
                    </span>
                </a>
                
            </div>
        </div>
    </div>
</section>