<section class="sectionBannerCol">
    <div class="sectionBannerCol__list">
        <div class="sectionBannerCol__item">
            <div class="image-overlay" style="--overlay-opacity: 0.45;"></div>
            <div class="sectionBannerCol__image">
                <a href="{{theme_settings.home_banner_2col_item1_link}}" class="sectionBannerCol__link">
                    <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.home_banner_2col_item1_image}}" alt="Piercer">
                </a>
            </div>

            <div class="sectionBannerCol__content">
                <h2 class="sectionBannerCol__title heading-size-8 text-white mt-0 mb-16 mb-10-mobile" data-aos="hero" data-aos-order="1">
                    {{theme_settings.home_banner_2col_item1_title}}
                </h2>

                <p class="sectionBannerCol__description body-size-4 text-white mb-16 mb-10-mobile" data-aos="hero" data-aos-order="2">
                    {{theme_settings.home_banner_2col_item1_text}}
                </p>

                <a href="{{theme_settings.home_banner_2col_item1_link}}" class="sectionBannerCol__button button button--icon" data-aos="hero" data-aos-order="3">
                    {{theme_settings.home_banner_2col_item1_button}}
                    <span class="icon icon--arrow-right">
                        <svg><use xlink:href="#icon-arrow-right"></use></svg>
                    </span>
                </a>
                
            </div>
        </div>

        <div class="sectionBannerCol__item">
            <div class="image-overlay" style="--overlay-opacity: 0.45;"></div>
            <div class="sectionBannerCol__image">
                <a href="{{theme_settings.home_banner_2col_item2_link}}" class="sectionBannerCol__link">
                    <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.home_banner_2col_item2_image}}" alt="Piercer">
                </a>
            </div>

            <div class="sectionBannerCol__content">
                <h2 class="sectionBannerCol__title heading-size-8 text-white mt-0 mb-16 mb-10-mobile" data-aos="hero" data-aos-order="1">
                    {{theme_settings.home_banner_2col_item2_title}}
                </h2>

                <p class="sectionBannerCol__description body-size-4 text-white mb-16 mb-10-mobile" data-aos="hero" data-aos-order="2">
                    {{theme_settings.home_banner_2col_item2_text}}
                </p>

                <a href="{{theme_settings.home_banner_2col_item2_link}}" class="sectionBannerCol__button button button--icon" data-aos="hero" data-aos-order="3">
                    {{theme_settings.home_banner_2col_item2_button}}
                    <span class="icon icon--arrow-right">
                        <svg><use xlink:href="#icon-arrow-right"></use></svg>
                    </span>
                </a>
                
            </div>
        </div>
        
    </div>
</section>