<section class="homeFullBanner" data-section-load="check-aos">
    <div class="homeFullBanner__item">
        <div class="image-overlay" style="--overlay-opacity: 0.45;"></div>
        <div class="homeFullBanner__image skeleton-loader">
            <a href="{{theme_settings.home_fullwidth_banner_link}}" class="homeFullBanner__link image-loader">
                <img class="lazyload" src="" data-src="/product_images/uploaded_images/{{theme_settings.home_fullwidth_banner_image}}" alt="{{theme_settings.home_banner_carousel_1_title}}">
            </a>
        </div>

        <div class="homeFullBanner__content">
            <h2 class="homeFullBanner__title heading-size-9 text-white mt-0 mb-16 mb-10-mobile" data-aos="hero" data-aos-order="2">
                {{theme_settings.home_fullwidth_banner_title}}
            </h2>

            <p class="homeFullBanner__description h5--body body-size-5 text-white mb-16 mb-10-mobile" data-aos="hero" data-aos-order="3">
                {{theme_settings.home_fullwidth_banner_text}}
            </p>

            <a href="{{theme_settings.home_fullwidth_banner_link}}" class="homeFullBanner__button button button--icon" data-aos="hero" data-aos-order="4">
                {{theme_settings.home_fullwidth_banner_button}}
                <span class="icon icon--arrow-right">
                    <svg><use xlink:href="#icon-arrow-right"></use></svg>
                </span>
            </a>
            
        </div>
    </div>
</section>