<section class="homeColBanner">
    <div class="container">
        <div class="homeColBanner__list custom-mobile-slider">
            <div class="item" data-aos="hero" data-aos-order="1">
                <div class="homeColBanner__item">
                    <div class="homeColBanner__image skeleton-loader">
                        <a href="{{theme_settings.home_col_banner_1_link}}" class="homeColBanner__link">
                            <img class="lazyload" data-src="/product_images/uploaded_images/{{theme_settings.home_col_banner_1_img}}" alt="{{theme_settings.home_col_banner_1_title}}">
                        </a>
                    </div>

                    <div class="homeColBanner__content">
                        <h2 class="homeColBanner__title heading-size-4 text-center">
                            {{theme_settings.home_col_banner_1_title}}
                        </h2>

                        <p class="homeColBanner__description body-size-3 text-center">
                            {{theme_settings.home_col_banner_1_text}}
                        </p>

                        <div class="homeColBanner__action text-center">
                            <a href="{{theme_settings.home_col_banner_1_link}}" class="homeColBanner__button button button--icon color-2">
                                {{theme_settings.home_col_banner_1_button}}
                                <span class="icon icon--arrow-right">
                                    <svg><use xlink:href="#icon-arrow-right"></use></svg>
                                </span>
                            </a>
                        </div>
                </div>
            </div>

        </div>
        <div class="item" data-aos="hero" data-aos-order="2">
            <div class="homeColBanner__item">
                <div class="homeColBanner__image skeleton-loader">
                    <a href="{{theme_settings.home_col_banner_2_link}}" class="homeColBanner__link">
                        <img class="lazyload" data-src="/product_images/uploaded_images/{{theme_settings.home_col_banner_2_img}}" alt="{{theme_settings.home_col_banner_2_title}}">
                    </a>
                </div>

                <div class="homeColBanner__content">
                    <h2 class="homeColBanner__title heading-size-4 text-center">
                        {{theme_settings.home_col_banner_2_title}}
                    </h2>

                    <p class="homeColBanner__description body-size-3 text-center">
                        {{theme_settings.home_col_banner_2_text}}
                    </p>

                    <div class="homeColBanner__action text-center">
                        <a href="{{theme_settings.home_col_banner_2_link}}" class="homeColBanner__button button button--icon color-2">
                            {{theme_settings.home_col_banner_2_button}}
                            <span class="icon icon--arrow-right">
                                <svg><use xlink:href="#icon-arrow-right"></use></svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item" data-aos="hero" data-aos-order="3">
            <div class="homeColBanner__item">
                <div class="homeColBanner__image skeleton-loader">
                    <a href="{{theme_settings.home_col_banner_3_link}}" class="homeColBanner__link">
                        <img class="lazyload" data-src="/product_images/uploaded_images/{{theme_settings.home_col_banner_3_img}}" alt="{{theme_settings.home_col_banner_3_title}}">
                    </a>
                </div>

                <div class="homeColBanner__content">
                    <h2 class="homeColBanner__title heading-size-4 text-center">
                        {{theme_settings.home_col_banner_3_title}}
                    </h2>

                    <p class="homeColBanner__description body-size-3 text-center">
                        {{theme_settings.home_col_banner_3_text}}
                    </p>

                    <div class="homeColBanner__action text-center">
                        <a href="{{theme_settings.home_col_banner_3_link}}" class="homeColBanner__button button button--icon color-2">
                            {{theme_settings.home_col_banner_3_button}}
                            <span class="icon icon--arrow-right">
                                <svg><use xlink:href="#icon-arrow-right"></use></svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>