<section class="homeInstagram">
    <div class="container">
        <p class="homeInstagram__subheading body-size-3 text-center mb-16 mb-10-mobile" data-aos="hero" data-aos-anchor="#BrickSection--template--19309239730496__bb677fb0-78bf-45a9-883c-ed28b76829d3" data-aos-order="1" style="">Join the community</p>

        <h2 class="homeInstagram__title heading-size-7 text-center mb-16 mb-10-mobile m-0" data-aos="hero" data-aos-anchor="#BrickSection--template--19309239730496__bb677fb0-78bf-45a9-883c-ed28b76829d3" data-aos-order="2" style="">Follow us on Instagram</h2>

        <div class="homeInstagram__rte body-size-3 text-center" data-aos="hero" data-aos-order="3">
            <p class="mb-16 mb-10-mobile"><a href="https://www.instagram.com/tish_lyon/" target="_blank" title="https://www.instagram.com/tish_lyon/">@tish_lyon</a></p>
        </div>
    </div>
</section>