<section class="homeTestimonial bg-global" data-section-load="check-aos">
    <h2 class="homeTestimonial__heading heading-size-7 text-center m-0" data-aos="hero" data-aos-order="1">Tish Testimonals</h2>

    <div class="container">
        <div class="homeTestimonial__list section-slick slick-gap-32" data-section-load="slick-slider" data-slick-options='{
            "slidesToShow": 4,
            "slidesToScroll": 1,
            "arrows": true,
            "dots": false,
            "infinite": false,
            "responsive": [
                {
                    "breakpoint": 1200,
                    "settings": {
                        "slidesToShow": 3
                    }
                },
                {
                    "breakpoint": 1024,
                    "settings": {
                        "slidesToShow": 2
                    }
                },
                {
                    "breakpoint": 768,
                    "settings": {
                        "slidesToShow": 1
                    }
                }
            ]
        }'>
            <div class="homeTestimonial__item">
                <div class="review__content" data-aos="hero" data-aos-order="2">
                    <blockquote class="body-size-5">
                        <span class="review__quote review__quote--open">
                            <span class="review__quote-inner">“</span>
                        </span>
    
                        <p>
                            {{{lang 'custom.home_review1_author_content'}}}
                        </p>
    
                        <span class="review__quote review__quote--close">
                            <span class="review__quote-inner">”</span>
                        </span>
                    </blockquote>
    
                    <div class="review__author">
                        <div class="review__author__content">
                            <div class="review__author__name">{{{lang 'custom.home_review1_author_name'}}}</div>
                            <span class="review__author__subheading subheading">
                                {{{lang 'custom.home_review1_author_subHeading'}}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="homeTestimonial__item">
                <div class="review__content" data-aos="hero" data-aos-order="3">
                    <blockquote class="body-size-5">
                        <span class="review__quote review__quote--open">
                            <span class="review__quote-inner">“</span>
                        </span>
    
                        <p>
                            {{{lang 'custom.home_review2_author_content'}}}
                        </p>
    
                        <span class="review__quote review__quote--close">
                            <span class="review__quote-inner">”</span>
                        </span>
                    </blockquote>
    
                    <div class="review__author">
                        <div class="review__author__content">
                            <div class="review__author__name">{{{lang 'custom.home_review2_author_name'}}}</div>
                            <span class="review__author__subheading subheading">
                                {{{lang 'custom.home_review2_author_subHeading'}}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="homeTestimonial__item">
                <div class="review__content" data-aos="hero" data-aos-order="4">
                    <blockquote class="body-size-5">
                        <span class="review__quote review__quote--open">
                            <span class="review__quote-inner">“</span>
                        </span>
    
                        <p>
                            {{{lang 'custom.home_review3_author_content'}}}
                        </p>
    
                        <span class="review__quote review__quote--close">
                            <span class="review__quote-inner">”</span>
                        </span>
                    </blockquote>
    
                    <div class="review__author">
                        <div class="review__author__content">
                            <div class="review__author__name">{{{lang 'custom.home_review3_author_name'}}}</div>
                            <span class="review__author__subheading subheading">
                                {{{lang 'custom.home_review3_author_subHeading'}}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="homeTestimonial__item">
                <div class="review__content" data-aos="hero" data-aos-order="5">
                    <blockquote class="body-size-5">
                        <span class="review__quote review__quote--open">
                            <span class="review__quote-inner">“</span>
                        </span>
    
                        <p>
                            {{{lang 'custom.home_review4_author_content'}}}
                        </p>
    
                        <span class="review__quote review__quote--close">
                            <span class="review__quote-inner">”</span>
                        </span>
                    </blockquote>
    
                    <div class="review__author">
                        <div class="review__author__content">
                            <div class="review__author__name">{{{lang 'custom.home_review4_author_name'}}}</div>
                            <span class="review__author__subheading subheading">
                                {{{lang 'custom.home_review4_author_subHeading'}}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</section>