<section class="shopLook" data-section-load="check-aos">
    <div class="shopLook__wrapper">
        <div class="shopLook__image">
            <div class="shopLook__image-container">
                <div class="shopLook__image-bg skeleton-loader">
                    <img class="lazyload" src="" data-src="/product_images/uploaded_images/{{theme_settings.homeTheLookBanner}}" alt="{{theme_settings.homeTheLookText}} Banner">
                </div>

                <div class="look__dots hide-on-mobile">
                    <button type="button" class="look__dot__button" style="--dot-top: {{theme_settings.homeTheLookItem1DotT}}; --dot-left: {{theme_settings.homeTheLookItem1DotL}};" aria-label="Scroll to product" data-slider-thumb="{{theme_settings.homeTheLookItem1ProId}}">
                      <span class="look__dot">
                        <span class="look__dot__icon"></span>
                      </span>
                    </button>
          
                    <button type="button" class="look__dot__button" style="--dot-top: {{theme_settings.homeTheLookItem2DotT}}; --dot-left: {{theme_settings.homeTheLookItem2DotL}};" aria-label="Scroll to product" data-slider-thumb="{{theme_settings.homeTheLookItem2ProId}}">
                      <span class="look__dot">
                        <span class="look__dot__icon"></span>
                      </span>
                    </button>
          
                    <button type="button" class="look__dot__button" style="--dot-top: {{theme_settings.homeTheLookItem3DotT}}; --dot-left: {{theme_settings.homeTheLookItem3DotL}};" aria-label="Scroll to product" data-slider-thumb="{{theme_settings.homeTheLookItem3ProId}}">
                      <span class="look__dot">
                        <span class="look__dot__icon"></span>
                      </span>
                    </button>
          
                    <button type="button" class="look__dot__button" style="--dot-top: {{theme_settings.homeTheLookItem4DotT}}; --dot-left: {{theme_settings.homeTheLookItem4DotL}};" aria-label="Scroll to product" data-slider-thumb="{{theme_settings.homeTheLookItem4ProId}}">
                      <span class="look__dot">
                        <span class="look__dot__icon"></span>
                      </span>
                    </button>
          
                    <button type="button" class="look__dot__button" style="--dot-top: {{theme_settings.homeTheLookItem5DotT}}; --dot-left: {{theme_settings.homeTheLookItem5DotL}};" aria-label="Scroll to product" data-slider-thumb="{{theme_settings.homeTheLookItem5ProId}}">
                      <span class="look__dot">
                        <span class="look__dot__icon"></span>
                      </span>
                    </button>
          
                    <button type="button" class="look__dot__button" style="--dot-top: {{theme_settings.homeTheLookItem6DotT}}; --dot-left: {{theme_settings.homeTheLookItem6DotL}};" aria-label="Scroll to product" data-slider-thumb="{{theme_settings.homeTheLookItem6ProId}}">
                      <span class="look__dot">
                        <span class="look__dot__icon"></span>
                      </span>
                    </button>
                </div>

                <div class="shopLook__actions hide-on-minMobile">
                    <a href="#" class="button">
                        <span class="icon icon--bag">
                            <svg><use xlink:href="#icon-bag"></use></svg>
                        </span>
                        
                        <span class="text">Shop the curation</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="shopLook__aside">
            <div class="shopLook__overlay hide-on-minMobile" data-popup-close=""></div>
            <div class="productsByListId2 custom-block-product" data-list-id-2="{{theme_settings.homeTheLookProductList}}" id="product-by-list-id-2">
                <p class="shopLook__title uppercase text-center">{{theme_settings.homeTheLookText}}</p>

                <a href="#" class="shopLook__close hide-on-minMobile">
                    <span class="icon icon--close2">
                        <svg><use xlink:href="#icon-close2"></use></svg>
                    </span>
                </a>
                
                <div class="custom_productLoading productSkeleton__list no-wrap"></div>

                <div class="productGrid productGridCustom productGrid--shoplook">
                  
                </div>
            </div>
        </div>
    </div>
</section>