<section class="homeAccount bg-global" data-section-load="check-aos">
    <div class="wrapper">
        <div class="homeAccount__cotent">
            <p class="homeAccount__subheading body-size-3 mt-0 mb-16 mb-10-mobile" data-aos="hero"" data-aos-order="1">
                {{{lang 'home_account_section.subHeading'}}}
            </p>

            <h2 class="homeAccount__heading heading-size-7 mt-0 mb-16 mb-10-mobile" data-aos="hero"" data-aos-order="2">
                {{{lang 'home_account_section.heading'}}}
            </h2>

            <p class="homeAccount__desc body-size-3 font-body mb-16 mb-10-mobile" data-aos="hero"" data-aos-order="3">
                {{{lang 'home_account_section.desc'}}}
            </p>

            <div class="homeAccount__buttons">
                <a href="/login.php?action=create_account" class="button button--icon color-2">
                    {{{lang 'home_account_section.create'}}}
                    <span class="icon icon--arrow-right">
                        <svg><use xlink:href="#icon-arrow-right"></use></svg>
                    </span>
                </a>

                <a href="/login.php" class="button button--icon color-2">
                    {{{lang 'home_account_section.login'}}}
                    <span class="icon icon--arrow-right">
                        <svg><use xlink:href="#icon-arrow-right"></use></svg>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>