<section class="shopLook">
    <div class="shopLook__wrapper">
        <div class="shopLook__image">
            <div class="shopLook__image-container">
                <div class="shopLook__image-bg">
                    <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/home-shop-the-look-banner.jpg" alt="Shop The Look Banner">
                </div>

                <div class="look__dots hide-on-mobile">
                    <button type="button" class="look__dot__button" style="--dot-top: 33%;
                    --dot-left: 51%;" aria-label="Scroll to product" data-slider-thumb="10404">
                      <span class="look__dot">
                        <span class="look__dot__icon"></span>
                      </span>
                    </button>
          
                    <button type="button" class="look__dot__button" style="--dot-top: 47%;
                    --dot-left: 75%;" aria-label="Scroll to product" data-slider-thumb="10380">
                      <span class="look__dot">
                        <span class="look__dot__icon"></span>
                      </span>
                    </button>
          
                    <button type="button" class="look__dot__button" style="--dot-top: 42%;
                    --dot-left: 21%;" aria-label="Scroll to product" data-slider-thumb="10011">
                      <span class="look__dot">
                        <span class="look__dot__icon"></span>
                      </span>
                    </button>
          
                    <button type="button" class="look__dot__button" style="--dot-top: 66%;
                    --dot-left: 52%;" aria-label="Scroll to product" data-slider-thumb="9802">
                      <span class="look__dot">
                        <span class="look__dot__icon"></span>
                      </span>
                    </button>
          
                    <button type="button" class="look__dot__button" style="--dot-top: 75%;
                    --dot-left: 64%;" aria-label="Scroll to product" data-slider-thumb="10232">
                      <span class="look__dot">
                        <span class="look__dot__icon"></span>
                      </span>
                    </button>
          
                    <button type="button" class="look__dot__button" style="--dot-top: 86%;
                    --dot-left: 73%;" aria-label="Scroll to product" data-slider-thumb="10294">
                      <span class="look__dot">
                        <span class="look__dot__icon"></span>
                      </span>
                    </button>
                </div>

                <div class="shopLook__actions hide-on-minMobile">
                    <a href="#" class="button">
                        <span class="icon icon--bag">
                            <svg><use xlink:href="#icon-bag"></use></svg>
                        </span>
                        
                        <span class="text">Shop the curation</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="shopLook__aside">
            <div class="shopLook__overlay hide-on-minMobile" data-popup-close=""></div>

            <div class="productsByListId2 custom-block-product" data-list-id-2="10404,10380,10011,9802,10232,10294" id="product-by-list-id-2">
                <p class="shopLook__title uppercase text-center">Shop the look</p>

                <a href="#" class="shopLook__close hide-on-minMobile">
                    <span class="icon icon--close2">
                        <svg><use xlink:href="#icon-close2"></use></svg>
                    </span>
                </a>
                
                <div class="custom_productLoading productSkeleton__list no-wrap"></div>

                <div class="productGrid productGridCustom">
                   
                </div>
            </div>
        </div>
    </div>
</section>