<section class="homeHoverBanner" data-section-load="check-aos">
    <div class="frame">
        <div class="frame-item">
            <div class="homeHoverBanner__content">
                <div class="homeHoverBanner__list">
                    <div class="homeHoverBanner__item is-visible" data-title-name="{{theme_settings.home_gallery_1_title}}" data-aos="hero" data-aos-order="1">
                        <a href="{{theme_settings.home_gallery_1_link}}" class="homeHoverBanner__title heading-font">{{theme_settings.home_gallery_1_title}}</a>
                    </div>
                    <div class="homeHoverBanner__item" data-title-name="{{theme_settings.home_gallery_2_title}}" data-aos="hero" data-aos-order="2">
                        <a href="{{theme_settings.home_gallery_2_link}}" class="homeHoverBanner__title heading-font">{{theme_settings.home_gallery_2_title}}</a>
                    </div>
                    <div class="homeHoverBanner__item" data-title-name="{{theme_settings.home_gallery_3_title}}" data-aos="hero" data-aos-order="3">
                        <a href="{{theme_settings.home_gallery_3_link}}" class="homeHoverBanner__title heading-font">{{theme_settings.home_gallery_3_title}}</a>
                    </div>
                    <div class="homeHoverBanner__item" data-title-name="{{theme_settings.home_gallery_4_title}}" data-aos="hero" data-aos-order="4">
                        <a href="{{theme_settings.home_gallery_4_link}}" class="homeHoverBanner__title heading-font">{{theme_settings.home_gallery_4_title}}</a>
                    </div>
                    <div class="homeHoverBanner__item" data-title-name="{{theme_settings.home_gallery_5_title}}" data-aos="hero" data-aos-order="5">
                        <a href="{{theme_settings.home_gallery_5_link}}" class="homeHoverBanner__title heading-font">{{theme_settings.home_gallery_5_title}}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="frame-item">
            <div class="homeHoverBanner__gallery">
                <div class="homeHoverBanner__imageList">
                    <div class="homeHoverBanner__imageItem skeleton-loader is-visible" data-section-load="active-title" data-section-name="{{theme_settings.home_gallery_1_title}}">
                        <img class="lazyload" src="" data-src="/product_images/uploaded_images/{{theme_settings.home_gallery_1_img}}" alt="{{theme_settings.home_gallery_1_title}}">
                    </div>
                    <div class="homeHoverBanner__imageItem skeleton-loader" data-section-load="active-title" data-section-name="{{theme_settings.home_gallery_2_title}}">
                        <img class="lazyload" src="" data-src="/product_images/uploaded_images/{{theme_settings.home_gallery_2_img}}" alt="{{theme_settings.home_gallery_2_title}}">
                    </div>
                    <div class="homeHoverBanner__imageItem skeleton-loader" data-section-load="active-title" data-section-name="{{theme_settings.home_gallery_3_title}}">
                        <img class="lazyload" src="" data-src="/product_images/uploaded_images/{{theme_settings.home_gallery_3_img}}" alt="{{theme_settings.home_gallery_3_title}}">
                    </div>
                    <div class="homeHoverBanner__imageItem skeleton-loader" data-section-load="active-title" data-section-name="{{theme_settings.home_gallery_4_title}}">
                        <img class="lazyload" src="" data-src="/product_images/uploaded_images/{{theme_settings.home_gallery_4_img}}" alt="{{theme_settings.home_gallery_4_title}}">
                    </div>
                    <div class="homeHoverBanner__imageItem skeleton-loader" data-section-load="active-title" data-section-name="{{theme_settings.home_gallery_5_title}}">
                        <img class="lazyload" src="" data-src="/product_images/uploaded_images/{{theme_settings.home_gallery_5_img}}" alt="{{theme_settings.home_gallery_5_title}}">
                    </div>
                    <div class="image-overlay" style="--bg: #212121; --overlay-opacity: 0.3;"></div>
                </div>
            </div>
        </div>
    </div>
</section>