{{#if productSKU}}
    <p class="fw-400"><span>SKU:</span> <span>{{productSKU}}</span></p>
{{/if}}

{{#each product.custom_fields}}
<div class="productViewInfo__list">
    {{#if showSKU}}
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam porro qui ex a? Cupiditate incidunt dignissimos culpa recusandae dolorum voluptates totam reprehenderit aperiam laborum? Nulla, placeat! Tempora in itaque mollitia.
    {{/if}}
    
    <div class="productViewInfo__item">
        <p>{{name}}:</p>
        <ul>
            {{#each (split value ",")}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
</div>
{{/each}}